extends ../components/base/layout

block variables
    - const title = "helpgkh"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "index.html"

block main
    main
      
      +intro()
      +progress()
      +service()
      +news()
      +articles()
      +media()
      +profi()
      +partners()
      +form()

block modals
