extends ../components/base/layout

block variables
    - const title = "helpgkh"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "protect-page.html"

block main
    main
        +breadcrumbs({
                isStatic: true,
                list: [
                    {
                        href: "#",
                        text: "Главная"
                    },
                    {
                        href: "#",
                        text: "Услуги и цены"
                    },
                    {
                        href: "#",
                        text: "Защитим Ваши интересы в суде"
                    }

                ]
            })
        +protect()
        +form()
        +map()