mixin about-page()
    section.about-page 
        .buy__content 
            .buy__titles
                .machine__titles 
                    h1.machine__title Sobre Nosotros
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
            .about-page__inner 
                .about-page__info 
                    h2.about-page__title ANTS Machine - un socio para negocios exitosos
                    p.about-page__text <strong>ANTS Machine</strong> es un proveedor chino líder de maquinariaindustrial de torno y máquinas de herramientas, situado en el centro de laciudad de Shanghai.
                    .about-page__block 
                        p.about-page__desc <span>Misión:</span> ¡Decididosa llevar equipos de fabricación chinos de alta calidad al mundo!
                        p.about-page__desc <span>Visión:</span> ¡Ser una marca en la que los clientes puedan confiar plenamente!
                        p.about-page__desc <span>Valores:</span> ¡Servicio,Integridad, Profesionalidad, Enfoque! 
                .about-page__image 
                    img(src="img/content/about-img.png" alt="Mech machine").about-page__img