mixin articles()
    section.articles
        .service__content 
            .news__titles 
                h2.news__title Статьи
                a(href="#").news__all 
                    <svg width="46" height="16" viewBox="0 0 46 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M45.7182 8.70711C46.1087 8.31659 46.1087 7.68343 45.7182 7.2929L39.3543 0.928939C38.9637 0.538415 38.3306 0.538415 37.94 0.928939C37.5495 1.31946 37.5495 1.95263 37.94 2.34315L43.5969 8.00001L37.94 13.6569C37.5495 14.0474 37.5495 14.6805 37.94 15.0711C38.3306 15.4616 38.9637 15.4616 39.3543 15.0711L45.7182 8.70711ZM-1.74846e-07 9L45.0111 9.00001L45.0111 7.00001L1.74846e-07 7L-1.74846e-07 9Z" fill="#00AE00"/>
                    </svg> 
                    p.news__text Смотреть все
            .articles__slider.slider2.swiper-container
                ul.articles__list.swiper-wrapper 
                    li.articles__item.swiper-slide 
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года
                                p.articles__name Заключение договора на внутриквартирное газовое оборудование
                                p.articles__desc С 01 сентября 2023 года вступили в силу поправки в Федеральный закон «О газоснабжении в РФ», Жилищный кодекс РФ и Правила пользования газом...
                                button(type="button").articles__btn Подробнее
                                    <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                    </svg>
                    li.articles__item.swiper-slide 
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__name Верховный суд проводит анализ судебной практики по спорам, связанным с обращением с твердыми коммунальными отходами
                                p.articles__desc Уважаемые руководители ТСЖ/ЖСК! Как всем Вам известно, в настоящее время сложилась противоречивая судебная...
                                button(type="button").articles__btn Подробнее
                                    <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                    </svg>  
                    li.articles__item.swiper-slide
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__name Заключение договора на внутриквартирное газовое оборудование
                                p.articles__desc С 01 сентября 2023 года вступили в силу поправки в Федеральный закон «О газоснабжении в РФ», Жилищный кодекс РФ и Правила пользования газом...
                                button(type="button").articles__btn Подробнее
                                    <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                    </svg> 
                    li.articles__item.swiper-slide
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__name Верховный суд проводит анализ судебной практики по спорам, связанным с обращением с твердыми коммунальными отходами
                                p.articles__desc Уважаемые руководители ТСЖ/ЖСК! Как всем Вам известно, в настоящее время сложилась противоречивая судебная...
                                button(type="button").articles__btn Подробнее
                                    <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                    </svg>
            .swiper-button-next
            .swiper-button-prev 
