mixin buy()
    section.buy
        .buy__content 
            .buy__titles
                .machine__titles 
                    h2.machine__title Más vendidos
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
                p.machine__text ANTS Machine se dedican a proporcionar a la industria con el mejor equipo de mecanizado al precio más ideal, Con su capacidad para mejorar la calidad general de la industria
            ul.buy__list 
                li.buy__item
                    a(href="#").buy__link-item 
                        .buy__images
                            img(src="img/content/buy-card1.png" alt="ZNC S.").buy__img
                        .buy__content-card
                            h3.buy__title-item ZNC Series Die Sinker EDM Machine (Economic Type) 
                            ul.buy__list-card 
                                li.buy__text Travel X-axis: 250 - 700 mm
                                li.buy__text Travel Y-axis: 350 - 1000 mm
                            button(type="button").buy__item-btn VER MÁS
                li.buy__item
                    a(href="#").buy__link-item
                        .buy__images 
                            img(src="img/content/buy-card2.png" alt="ZNC S.").buy__img
                        .buy__content-card
                            h3.buy__title-item ZNC Series Die Sinker EDM Machine (Economic Type)
                            ul.buy__list-card 
                                li.buy__text Travel X-axis: 250 - 700 mm
                                li.buy__text Travel Y-axis: 350 - 1000 mm
                            button(type="button").buy__item-btn VER MÁS
                li.buy__item
                    a(href="#").buy__link-item
                        .buy__images 
                            img(src="img/content/buy-card3.png" alt="CNC S.").buy__img
                        .buy__content-card
                            h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                            ul.buy__list-card 
                                li.buy__text X-axis travel : 500mm/600mm
                                li.buy__text Y-axis travel : 400mm/400mm
                                li.buy__text Z-axis travel : 300mm/350mm
                            button(type="button").buy__item-btn VER MÁS
                li.buy__item
                    a(href="#").buy__link-item
                        .buy__images 
                            img(src="img/content/buy-card4.png" alt="CNC S.").buy__img
                        .buy__content-card
                            h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                            ul.buy__list-card 
                                li.buy__text X-axis travel : 500mm/600mm
                                li.buy__text Y-axis travel : 400mm/400mm
                                li.buy__text Z-axis travel : 300mm/350mm
                            button(type="button").buy__item-btn VER MÁS
