mixin campo-about()
    section.campo-about
        .buy__content 
            .buy__titles
                .machine__titles 
                    h2.machine__title Calidad consistente
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
            p.mainly__text-one Trayendo lo mejor de las máquinas de herramientas CNC y todo tipo de maquinaria de torno fabricados por los fabricantes de renombre de China, le aseguramos de inmaculada calidad y excelencia.
            ul.campo__list 
                li.campo__item 
                    .campo__block 
                        h3.campo__title-block CAMPO DEL CLIENTE
                        p.campo__text-block La serie de productos de ANTS Machine no sólo se utiliza en el acabado de componentes, herra-mientas de corte, piezas de moldes, componentes de herramientas y otros campos tradicionales, sino que también se utiliza ampliamente en la electrónica de comunicaciones, piezas de auto-móviles, equipos médicos, equipos deportivos, productos fotovoltaicos, aparatos eléctricos y de hardware, aeroespacial, semiconductores, nuevas energías y otras industrias.
                li.campo__item 
                    .campo__block 
                        h3.campo__title-block MANTENIMIENTO
                        p.campo__text-block Toda la máquina está garantizada con un año de garantía, mantenimiento de por vida y mantenimiento postventa. Las soluciones se proporcionarán en un plazo de 12 horas y las soluciones técnicas in situ se enviarán en un plazo de 48 horas.
                li.campo__item 
                    .campo__block 
                        h3.campo__title-block NÚCLEO EMPRESARIAL
                        p.campo__text-block Escala de empresa líder, cualificación de la industria, garantía de solidez de la marca; Introducción de tecnología avanzada y accesorios de Alemania y Japón para garantizar firmemente la calidad del producto; El servicio a largo plazo a clientes de marcas conocidas tiene una buena reputación en la industria; Cobertura completa de pre-venta, en-venta y post-venta, respuesta rápida a las necesidades del cliente
                li.campo__item 
                    .campo__block 
                        h3.campo__title-block POSICIONAMIENTO EMPRESARIAL
                        p.campo__text-block Rectificadora digital de alta gama, torno, sierra, máquina cnc con todas las funciones, fabricantes profesionales.
                li.campo__item 
                    .campo__block 
                        h3.campo__title-block FORMACIÓN TÉCNICA
                        p.campo__text-block Instalación in situ, puesta en marcha y pruebas de muestras, demostraciones personalizadas y asesoramiento.
                li.campo__item 
                    .campo__block 
                        h3.campo__title-block ASISTENCIA AL CLIENTE 24 HORAS AL DÍA, 7 DÍAS A LA SEMANA
                        p.campo__text-block Proporcionamos soluciones exclusivas y asistencia técnica puntual para ayudarle a mejorar la eficacia de la producción y resolver sus problemas.