mixin category()
    section.category
        .category__content 
            .category__titles
                .machine__titles 
                    h2.machine__title Categorías
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
                p.machine__text Proporcionar sistemáticamente la molienda, torneado, fresado y la solución de aserrado personalizada, ANTS ofrece un montón de equipos de procesamiento con soluciones automáticas de línea de producción, hay 7 categorías bajo su bandera. 
            ul.category__list 
                li.category__item 
                    .category__card
                        .category__bg 
                            h3.category__title MÁQUINAS DE ELECTROEROSIÓN (EDM)
                            .category__column
                                p.category__text Máquinas de corte por hilo de paso único y paso múltiple, máquinas para la electroerosión de matrices, taladradoras y máquinas de electroerosión 
                                .category__image 
                                    img(src="img/content/card1.png" alt="Card image").category__img
                        .category__bottom
                            a(href="").category__card-link VER MÁS
                li.category__item 
                    .category__card
                        .category__bg 
                            h3.category__title SIERRAS
                            .category__column
                                p.category__text Sierras de cinta y sierras circulares, así como soluciones de corte a medida
                                .category__image 
                                    img(src="img/content/card2.png" alt="Card image").category__img
                        .category__bottom
                            a(href="").category__card-link VER MÁS
                li.category__item 
                    .category__card
                        .category__bg 
                            h3.category__title MÁQUINAS CORTADORAS DE METAL
                            .category__column
                                p.category__text Máquinas para el corte por láser de chapas y tubos, así como máquinas para el corte por chorro de agua de metales, máquinas manuales de soldadura por láser.
                                .category__image 
                                    img(src="img/content/card3.png" alt="Card image").category__img
                        .category__bottom
                            a(href="").category__card-link VER MÁS
                li.category__item 
                    .category__card
                        .category__bg 
                            h3.category__title MÁQUINAS TALADRADORAS
                            .category__column
                                p.category__text Máquinas taladradoras verticales y radiales, taladradoras CNC
                                .category__image 
                                    img(src="img/content/card4.png" alt="Card image").category__img
                        .category__bottom
                            a(href="").category__card-link VER MÁS
            a(href="#").category__mac-link MÁS    
                