mixin form()
    section.form 
        .form__content
            .form__inner
                .form__info 
                    h2.form__title Если у вас остались вопросы <br>- <span class="form__title-text">мы поможем</span>
                    p.form__desc Заполните форму и наш консультант свяжется с вами в ближайшее время
                .form__form
                    form(method="post")
                        +custom-input({
                            label: "Ваше имя",
                            type: "text",
                            name: "name",
                            placeholder: "Введите имя"
                        }).form__input
                        +custom-input({
                            label: "Ваш номер телефона",
                            type: "tel",
                            name: "phone",
                            placeholder: "+7(_ _ _) - _ _ _-_ _-_ _"
                        }).form__input
                        //+custom-input({
                            label: "Correo electrónico",
                            type: "email",
                            name: "email-adress",
                            placeholder: "Email"
                         }).form__input
                        +custom-textarea({
                            label: "Ваш вопрос",
                            name: "question",
                            placeholder: "Напишите сообщение"
                        }).form__input-text
                        button(type="submit").form__btn Отправить
                        p.form__agreement Нажимая на кнопку «Отправить»,  Вы соглашаетесь с <a href="#" class="form__sub-link">политикой обработки персональных данных</a>