mixin history()
    saction.history
        .buy__content 
            .buy__titles
                .machine__titles 
                    h2.machine__title Historia
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
            p.history__text Desdeque se fundó nuestra empresa, basándose en la ventaja de BOCHI que es elfabricante de máquinas de herramientas de larga historia y famoso, introducimos continuamente las mejores empresas chinas de maquinaria de torno y sus productos a los mercados internacionales, como BOCHI, Shanghai Machine Tool,SPARK etc.<br><br>No sólo producimos y vendemos nuestra propia marca de máquinas de torno, sino que también hacemos que más clientes internacionales conozcan y prueben otras marcas de máquinas de herramientas chinas de primera clase. Gradualmente construimos amistad con clientes de todo el mundo.
            .history__images 
                .history__image
                    img(src="img/content/history1.png" alt="History company").history__img
                .history__image 
                    img(src="img/content/history2.png" alt="History company").history__img
                .history__image 
                    img(src="img/content/history3.png" alt="History company").history__img