mixin interaction()
    section.interaction 
        .articles-page__content 
            .articles-page__inner 
                .articles-page__titles 
                    h1.articles-page__title Взаимодействие с госорганами
                    p.articles-page__text Наши комментарии на изменения в законодательстве, в сфере ЖКХ
                .pipe-machines__inner 
                    ul.pipe-machines__list 
                        li.pipe-machines__item 
                            a(href="#").pipe-machines__link.pipe-machines__link--active Актуальные темы
                                <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                                </svg>
                            ul.pipe-machines__sublist.pipe-machines__sublist--active
                                li.pipe-machines__item-depth1 
                                    a(href="#").pipe-machines__link-depth1 Коммунальные услуги
                                li.pipe-machines__item-depth1 
                                    a(href="#").pipe-machines__link-depth1 Ремонт и содержание МКД
                                li.pipe-machines__item-depth1 
                                    a(href="#").pipe-machines__link-depth1 Управление МКД
                                li.pipe-machines__item-depth1 
                                    a(href="#").pipe-machines__link-depth1 ТСЖ и ЖСК
                                li.pipe-machines__item-depth1 
                                    a(href="#").pipe-machines__link-depth1 Общие собрания
                                li.pipe-machines__item-depth1 
                                    a(href="#").pipe-machines__link-depth1 Взаимодействие с госорганами
                                li.pipe-machines__item-depth1 
                                    a(href="#").pipe-machines__link-depth1 Судебная практика
                                li.pipe-machines__item-depth1 
                                    a(href="#").pipe-machines__link-depth1 Иное
                    ul.articles__list 
                        li.articles__item
                            a(href="#").articles__link-content
                                .articles__info 
                                    p.articles__date  06 февраля 2024 года
                                    p.articles__name Заключение договора на внутриквартирное газовое оборудование
                                    p.articles__desc С 01 сентября 2023 года вступили в силу поправки в Федеральный закон «О газоснабжении в РФ», Жилищный кодекс РФ и Правила пользования газом...
                                    button(type="button").articles__btn Подробнее
                                        <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                        </svg>
                        li.articles__item 
                            a(href="#").articles__link-content
                                .articles__info 
                                    p.articles__date  06 февраля 2024 года 
                                    p.articles__name Верховный суд проводит анализ судебной практики по спорам, связанным с обращением с твердыми коммунальными отходами
                                    p.articles__desc Уважаемые руководители ТСЖ/ЖСК! Как всем Вам известно, в настоящее время сложилась противоречивая судебная...
                                    button(type="button").articles__btn Подробнее
                                        <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                        </svg>  
                        li.articles__item
                            a(href="#").articles__link-content
                                .articles__info 
                                    p.articles__date  06 февраля 2024 года 
                                    p.articles__name Заключение договора на внутриквартирное газовое оборудование
                                    p.articles__desc С 01 сентября 2023 года вступили в силу поправки в Федеральный закон «О газоснабжении в РФ», Жилищный кодекс РФ и Правила пользования газом...
                                    button(type="button").articles__btn Подробнее
                                        <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                        </svg> 
                        li.articles__item
                            a(href="#").articles__link-content
                                .articles__info 
                                    p.articles__date  06 февраля 2024 года 
                                    p.articles__name Верховный суд проводит анализ судебной практики по спорам, связанным с обращением с твердыми коммунальными отходами
                                    p.articles__desc Уважаемые руководители ТСЖ/ЖСК! Как всем Вам известно, в настоящее время сложилась противоречивая судебная...
                                    button(type="button").articles__btn Подробнее
                                        <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                        </svg>
                        li.articles__item
                            a(href="#").articles__link-content
                                .articles__info 
                                    p.articles__date  06 февраля 2024 года 
                                    p.articles__name Верховный суд проводит анализ судебной практики по спорам, связанным с обращением с твердыми коммунальными отходами
                                    p.articles__desc Уважаемые руководители ТСЖ/ЖСК! Как всем Вам известно, в настоящее время сложилась противоречивая судебная...
                                    button(type="button").articles__btn Подробнее
                                        <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                        </svg>
                        li.articles__item
                            a(href="#").articles__link-content
                                .articles__info 
                                    p.articles__date  06 февраля 2024 года 
                                    p.articles__name Верховный суд проводит анализ судебной практики по спорам, связанным с обращением с твердыми коммунальными отходами
                                    p.articles__desc Уважаемые руководители ТСЖ/ЖСК! Как всем Вам известно, в настоящее время сложилась противоречивая судебная...
                                    button(type="button").articles__btn Подробнее
                                        <svg width="43" height="8" viewBox="0 0 43 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.3536 4.35356C42.5488 4.15829 42.5488 3.84171 42.3536 3.64645L39.1716 0.46447C38.9763 0.269207 38.6597 0.269207 38.4645 0.464469C38.2692 0.659732 38.2692 0.976314 38.4645 1.17158L41.2929 4L38.4645 6.82843C38.2692 7.02369 38.2692 7.34028 38.4645 7.53554C38.6597 7.7308 38.9763 7.7308 39.1716 7.53554L42.3536 4.35356ZM-4.37114e-08 4.5L42 4.5L42 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                                        </svg>
                +pagination
        +news-block