mixin intro()
  section.intro
    .intro__content
      .intro__inner
        .intro__info  
          h1.intro__title <span>ПРАВОВОЕ</span> СОПРОВОЖДЕНИЕ ЖСК, ТСЖ, УК
          ul.intro__list 
            li.intro__item 
              p.intro__text Консультации по вопросам текущей деятельности
            li.intro__item 
              p.intro__text Подготовка ответов на обращения жителей
            li.intro__item 
              p.intro__text Подготовка писем (запросов) или ответов в гос.органы, поставщикам коммунальных услуг, обслуживающим организациям 
          a(href="#").intro__link Бесплатная консультация
        .intro__image 
          img(src="img/content/intro.png").intro__img 
    a(href="#" id="sticker-m").intro__sticker-mobile
      img(src="img/content/mobile-j.png").intro__sticker-img  