mixin list()
    section.list
        .list__content 
            h1.list__title Список юридических услуг и цен
            .list__block 
                p.list__block-lvl № п/п
                p.list__block-lvl Перечень оказываемых услуг
                p.list__block-lvl Минимальная цена
            table.list__table 
                tr.list__line 
                    td.list__point 1 
                    td.list__point Организация общих собраний членов ТСЖ/ЖСК. собственников (согласование повестки, подготовка всех документов)
                    td.list__point 12 000 руб.
                tr.list__line 
                    td.list__point 2
                    td.list__point Подсчет итогов голосования (по итогам собрания)
                    td.list__point от 2 000 руб.
                tr.list__line 
                    td.list__point 3
                    td.list__point Участие в очной части собрания
                    td.list__point 5 000 руб.
                tr.list__line 
                    td.list__point 4
                    td.list__point Формирование именных решений собраний (со всеми реквизитами)
                    td.list__point 3 000 руб.
                tr.list__line 
                    td.list__point 5
                    td.list__point Предоставление готового устава ТСЖ/ЖСК
                    td.list__point 12 000 руб.
                tr.list__line 
                    td.list__point 6
                    td.list__point Разработка нового устава ТСЖ/ЖСК с учетом пожеланий заказчика
                    td.list__point 15 000 руб.
                tr.list__line 
                    td.list__point 7
                    td.list__point Формирование выписки из Росреестра (реестр собственников), за 1 помещение
                    td.list__point 25 руб.
                tr.list__line 
                    td.list__point 8
                    td.list__point Подготовка иска о взыскании задолженности (жилые/нежилые помещения)
                    td.list__point 6 000 руб.
                tr.list__line 
                    td.list__point 9
                    td.list__point Подготовка судебного приказа
                    td.list__point 4 000 руб.
                tr.list__line 
                    td.list__point 10
                    td.list__point Подготовка искового заявления/отзыва на исковое заявление
                    td.list__point 6 000 руб.
                tr.list__line 
                    td.list__point 11
                    td.list__point Представление интересов заказчика в судах, за 1 заседание
                    td.list__point 7 000 руб.
                tr.list__line 
                    td.list__point 12
                    td.list__point Представление интересов заказчика при проведении проверок контролирующими органами
                    td.list__point 5 000 руб.
        +news-block