mixin machine()
    section.machine
        .machine__content 
            .machine__inner 
                .machine__info
                    .machine__titles 
                        h2.machine__title Por qué elegirnos
                        .machine__line
                            <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="100" height="4" fill="#D20000"/>
                            </svg>
                    p.machine__text ANTS Machine es un proveedor líder chino de maquinaria de torno industrial y máquinas de herramientas, ubicado en el centro de la ciudad de Shanghai.<br><br>La serie de productos de ANTS Machine no sólo se utiliza para componentes de acabado, herramientas de corte, piezas de moldes, componentes de herramientas y otros campos tradicionales, sino que también se utiliza ampliamente en la electrónica de comunicaciones, piezas de automóviles, equipos médicos, equipos deportivos, productos fotovoltaicos, equipos y aparatos eléctricos, aeroespacial, semiconductores, nuevas energías y otras industrias.
                .machine__images
                    img(src="img/content/portfolio-bg.png" alt="Portfolio image").machine__img-bg
                    img(src="img/content/portfolio.png" alt="Portfolio image").machines__img