mixin mainly ()
    section.mainly 
        .buy__content 
            .buy__titles
                .machine__titles 
                    h2.machine__title Por qué elegirnos
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
            p.mainly__text-one Con un enfoque equilibrado y diversificado hacia el siempre cambiante escenario delmercado en perfecta combinación con la gestión estratégica y el crecimiento orgánico, ANTS Machine tool company ha surgido como un renombrado exportador de una amplia gama de los mejores tornos chinos y maquinaria de herramientas.
            .mainly__info 
                ul.mainly__list 
                    li.mainly__item
                        p.mainly__title 5millones de dólares
                        p.mainly__text el volumen de ventas anual de ANTS Machine máquinas metalúrgicas.
                    li.mainly__item
                        p.mainly__title 18 años
                        p.mainly__text Nuestro equipo se dedica a la investigación, fabricación y venta de máquinas herramienta
                    li.mainly__item
                        p.mainly__title Másde 30 países
                        p.mainly__text Exportamos productos y poco a poco construimos amistad con clientes de todo el mundo 
                    li.mainly__item
                        p.mainly__title 100 unidades
                        p.mainly__text nuestro volumen de ventas anual de máquinas-herramienta metalúrgicas de alta calidad