mixin news-block()
    .news-block(id="stickytypeheader")
        .news-block__content 
            h2.news-block__title Новости
            .news-block__list 
                .news-block__item 
                    p.news-block__date 06 февраля 2024 года 
                    p.news-block__text Победа ТСЖ «Маркина, 16» в Петроградском районном суде Санкт-Петербурга по иску об обязании предоставить доступ в гараж для обследования элементов системы отопления
                    a(href="#").news-block__link Читать далее
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                        </svg>
                .news-block__item 
                    p.news-block__date 06 февраля 2024 года 
                    p.news-block__text Судебное заседание о взыскании судебных расходов в Арбитражном суде Санкт-Петербурга и Ленинградской области завершено победой ответчика — ТСЖ «Ленинский 109»
                    a(href="#").news-block__link Читать далее
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                        </svg>
                .news-block__item 
                    p.news-block__date 06 февраля 2024 года 
                    p.news-block__text Победа в судебном заседании Арбитражного суда Санкт-Петербурга по исковому заявлению ТСЖ «Ленинский 109» к ГУП «Водоканал Санкт-Петербурга» о взыскании денежных средств
                    a(href="#").news-block__link Читать далее
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                        </svg>
                .news-block__item 
                    p.news-block__date 06 февраля 2024 года 
                    p.news-block__text Представление интересов ТСЖ «Янтарный Дом» в судебном заседании о взыскании судебных расходов в Судебном участке №128
                    a(href="#").news-block__link Читать далее
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                        </svg>