mixin page404()
    section.page404
        .page404__content 
            .page404__inner
                .page404__image 
                    img(src="img/content/404p.png" alt="page-404").page404__img
                .page404__info 
                    h1.page404__title Página no encontrada
                    p.page404__text No hemos podido encontrar la página que busca.
                    a(href="index.html").page404__link volver a inicio