mixin partners() 
    section.partners
        .service__content 
            h2.service__title Наши <span>партнеры</span>
            .service__slider.swiper
                ul.service__list.swiper-wrapper 
                    li.service__item.swiper-slide
                        a(href="#").service__slide-link 
                            .service__image 
                                img(src="img/content/partners.png").service__img
                            .service__slide-content
                                h3.service__slide-title ООО "РСТ Энерджи"
                                p.service__slide-text Монтаж систем теплораспределителей, диспетчеризация счетчиков, расчет коммунальных услуг
                                p.service__slide-phone Телефон: <span>+7 812 455 46 00</span>
                                p.service__slide-email Сайт: <span>https://ErsteEnergy.ru/</span>
                    li.service__item.swiper-slide
                        a(href="#").service__slide-link 
                            .service__image 
                                img(src="img/content/partners.png").service__img
                            .service__slide-content
                                h3.service__slide-title ООО "РСТ Энерджи"
                                p.service__slide-text Монтаж систем теплораспределителей, диспетчеризация счетчиков, расчет коммунальных услуг
                                p.service__slide-phone Телефон: <span>+7 812 455 46 00</span>
                                p.service__slide-email Сайт: <span>https://ErsteEnergy.ru/</span>
                    li.service__item.swiper-slide
                        a(href="#").service__slide-link 
                            .service__image 
                                img(src="img/content/partners.png").service__img
                            .service__slide-content
                                h3.service__slide-title ООО "РСТ Энерджи"
                                p.service__slide-text Монтаж систем теплораспределителей, диспетчеризация счетчиков, расчет коммунальных услуг
                                p.service__slide-phone Телефон: <span>+7 812 455 46 00</span>
                                p.service__slide-email Сайт: <span>https://ErsteEnergy.ru/</span>
                    li.service__item.swiper-slide
                        a(href="#").service__slide-link 
                            .service__image 
                                img(src="img/content/partners.png").service__img
                            .service__slide-content
                                h3.service__slide-title ООО "РСТ Энерджи"
                                p.service__slide-text Монтаж систем теплораспределителей, диспетчеризация счетчиков, расчет коммунальных услуг
                                p.service__slide-phone Телефон: <span>+7 812 455 46 00</span>
                                p.service__slide-email Сайт: <span>https://ErsteEnergy.ru/</span>
                    li.service__item.swiper-slide
                        a(href="#").service__slide-link 
                            .service__image 
                                img(src="img/content/partners.png").service__img
                            .service__slide-content
                                h3.service__slide-title ООО "РСТ Энерджи"
                                p.service__slide-text Монтаж систем теплораспределителей, диспетчеризация счетчиков, расчет коммунальных услуг
                                p.service__slide-phone Телефон: <span>+7 812 455 46 00</span>
                                p.service__slide-email Сайт: <span>https://ErsteEnergy.ru/</span>
                    li.service__item.swiper-slide
                        a(href="#").service__slide-link 
                            .service__image 
                                img(src="img/content/partners.png").service__img
                            .service__slide-content
                                h3.service__slide-title ООО "РСТ Энерджи"
                                p.service__slide-text Монтаж систем теплораспределителей, диспетчеризация счетчиков, расчет коммунальных услуг
                                p.service__slide-phone Телефон: <span>+7 812 455 46 00</span>
                                p.service__slide-email Сайт: <span>https://ErsteEnergy.ru/</span>
            .swiper-button-next
            .swiper-button-prev