mixin pipe-machines()
    section.pipe-machines 
        .buy__content 
            .buy__titles
                .machine__titles 
                    h1.machine__title Productos
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
                p.machine__text SIERRAS
            .pipe-machines__inner 
                ul.pipe-machines__list 
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link.pipe-machines__link--active SIERRAS
                            <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                            </svg>
                        ul.pipe-machines__sublist.pipe-machines__sublist--active
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Sierras de cinta de corte recto horizontal
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Sierrasde cinta horizontales de corte a inglete
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Sierras de cinta verticales
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Sierras Circulares 
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Soluciones de serrado personalizadas  
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Máquina fresadora
                            <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                            </svg>
                        ul.pipe-machines__sublist
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina fresadora convencional
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Centro de mecanizado de fresado
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina fresadora CNC
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Centro de mecanizado de pórtico
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquinas fresadoras y mandrinadoras       
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Máquina rectificadora
                            <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                            </svg>  
                        ul.pipe-machines__sublist
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina rectificadora de interiores
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina rectificadora cilíndrica
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina rectificadora de superficies
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina rectificadora sin centros
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina rectificadora de herramientas
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Máquina de torno
                            <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                            </svg> 
                        ul.pipe-machines__sublist
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de torno universal
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de torno CNC de bancada plana
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Torno CNC de bancada inclinada
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Centro de fresado y torneado
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Torno pesado
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de torno vertical
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Torno de tipo suizo
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Micro mini torno
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina personalizada
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Máquina taladradora
                            <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                            </svg>
                        ul.pipe-machines__sublist
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Micro taladro de banco y fresadora
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina taladradora vertical
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina taladradora radial
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina taladradora CNC
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link máquina edm/wedm
                            <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                            </svg>
                        ul.pipe-machines__sublist
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 EDM de corte por hilo de una pasada
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 EDM de corte por hilo de tres pasadas
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de corte por hilo lento
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de electroerosión por penetración
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de taladrado EDM
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Máquina de corte de metal
                            <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                            </svg> 
                        ul.pipe-machines__sublist
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de corte láser combinada
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de corte láser por plasma
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de corte láser por plasma paratubos
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de corte por plasma portátil
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de soldadura láser manual
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina de corte por chorro de agua
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Máquina ranuradora perfiladora
                            <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                            </svg> 
                        ul.pipe-machines__sublist
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina ranuradora
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina perfiladora
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Equipos de formado de metales
                            <svg width="11" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.13331 4.49328L3.81997 3.17995L1.67997 1.03995C1.22664 0.593285 0.453308 0.913285 0.453308 1.55328V5.70662V9.44662C0.453308 10.0866 1.22664 10.4066 1.67997 9.95328L5.13331 6.49995C5.68664 5.95328 5.68664 5.04662 5.13331 4.49328Z" fill="#1A1A1A"/>
                            </svg> 
                        ul.pipe-machines__sublist
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina plegadora hidráulica
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina cizalla hidráulica
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina prensadora hidráulica
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina punzonadora
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina ranuradora CNC
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina laminadora de chapas
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Máquina curvadora redonda
                ul.buy__list 
                    li.buy__item
                        a(href="#").buy__link-item 
                            .buy__images
                                img(src="img/content/buy-card1.png" alt="ZNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item ZNC Series Die Sinker EDM Machine (Economic Type) 
                                ul.buy__list-card 
                                    li.buy__text Travel X-axis: 250 - 700 mm
                                    li.buy__text Travel Y-axis: 350 - 1000 mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card2.png" alt="ZNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item ZNC Series Die Sinker EDM Machine (Economic Type)
                                ul.buy__list-card 
                                    li.buy__text Travel X-axis: 250 - 700 mm
                                    li.buy__text Travel Y-axis: 350 - 1000 mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card3.png" alt="CNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                                ul.buy__list-card 
                                    li.buy__text X-axis travel : 500mm/600mm
                                    li.buy__text Y-axis travel : 400mm/400mm
                                    li.buy__text Z-axis travel : 300mm/350mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card4.png" alt="CNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                                ul.buy__list-card 
                                    li.buy__text X-axis travel : 500mm/600mm
                                    li.buy__text Y-axis travel : 400mm/400mm
                                    li.buy__text Z-axis travel : 300mm/350mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item 
                            .buy__images
                                img(src="img/content/buy-card5.png" alt="ZNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item ZNC Series Die Sinker EDM Machine (Economic Type) 
                                ul.buy__list-card 
                                    li.buy__text Travel X-axis: 250 - 700 mm
                                    li.buy__text Travel Y-axis: 350 - 1000 mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card6.png" alt="ZNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item ZNC Series Die Sinker EDM Machine (Economic Type)
                                ul.buy__list-card 
                                    li.buy__text Travel X-axis: 250 - 700 mm
                                    li.buy__text Travel Y-axis: 350 - 1000 mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card7.png" alt="CNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                                ul.buy__list-card 
                                    li.buy__text X-axis travel : 500mm/600mm
                                    li.buy__text Y-axis travel : 400mm/400mm
                                    li.buy__text Z-axis travel : 300mm/350mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card8.png" alt="CNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                                ul.buy__list-card 
                                    li.buy__text X-axis travel : 500mm/600mm
                                    li.buy__text Y-axis travel : 400mm/400mm
                                    li.buy__text Z-axis travel : 300mm/350mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item 
                            .buy__images
                                img(src="img/content/buy-card9.png" alt="ZNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item ZNC Series Die Sinker EDM Machine (Economic Type) 
                                ul.buy__list-card 
                                    li.buy__text Travel X-axis: 250 - 700 mm
                                    li.buy__text Travel Y-axis: 350 - 1000 mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card10.png" alt="ZNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item ZNC Series Die Sinker EDM Machine (Economic Type)
                                ul.buy__list-card 
                                    li.buy__text Travel X-axis: 250 - 700 mm
                                    li.buy__text Travel Y-axis: 350 - 1000 mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card11.png" alt="CNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                                ul.buy__list-card 
                                    li.buy__text X-axis travel : 500mm/600mm
                                    li.buy__text Y-axis travel : 400mm/400mm
                                    li.buy__text Z-axis travel : 300mm/350mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card12.png" alt="CNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                                ul.buy__list-card 
                                    li.buy__text X-axis travel : 500mm/600mm
                                    li.buy__text Y-axis travel : 400mm/400mm
                                    li.buy__text Z-axis travel : 300mm/350mm
                                button(type="button").buy__item-btn VER MÁS  
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card13.png" alt="CNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                                ul.buy__list-card 
                                    li.buy__text X-axis travel : 500mm/600mm
                                    li.buy__text Y-axis travel : 400mm/400mm
                                    li.buy__text Z-axis travel : 300mm/350mm
                                button(type="button").buy__item-btn VER MÁS
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card14.png" alt="CNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                                ul.buy__list-card 
                                    li.buy__text X-axis travel : 500mm/600mm
                                    li.buy__text Y-axis travel : 400mm/400mm
                                    li.buy__text Z-axis travel : 300mm/350mm
                                button(type="button").buy__item-btn VER MÁS 
                    li.buy__item
                        a(href="#").buy__link-item
                            .buy__images 
                                img(src="img/content/buy-card15.png" alt="CNC S.").buy__img
                            .buy__content-card
                                h3.buy__title-item CNC Die Sinker EDM Machine 540K/650K
                                ul.buy__list-card 
                                    li.buy__text X-axis travel : 500mm/600mm
                                    //li.buy__text Y-axis travel : 400mm/400mm
                                    //li.buy__text Z-axis travel : 300mm/350mm
                                button(type="button").buy__item-btn VER MÁS     
            +pagination