mixin profi()
    section.profi 
        .service__content 
            .news__titles 
                h2.news__title Более <span>158 клиентов</span> отметили наш профессионализм 
                a(href="#").news__all 
                    <svg width="46" height="16" viewBox="0 0 46 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M45.7182 8.70711C46.1087 8.31659 46.1087 7.68343 45.7182 7.2929L39.3543 0.928939C38.9637 0.538415 38.3306 0.538415 37.94 0.928939C37.5495 1.31946 37.5495 1.95263 37.94 2.34315L43.5969 8.00001L37.94 13.6569C37.5495 14.0474 37.5495 14.6805 37.94 15.0711C38.3306 15.4616 38.9637 15.4616 39.3543 15.0711L45.7182 8.70711ZM-1.74846e-07 9L45.0111 9.00001L45.0111 7.00001L1.74846e-07 7L-1.74846e-07 9Z" fill="#00AE00"/>
                    </svg> 
                    p.news__text Смотреть все
            .articles__slider.slider4.swiper-container
                ul.articles__list.swiper-wrapper 
                    li.articles__item.swiper-slide 
                        .articles__link-content
                            .articles__top 
                                p.articles__top-title ЖСК № 887
                                <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M54.1562 71.4383L59.8563 77.1383L71.2563 65.7383" stroke="#00AE00" stroke-opacity="0.1" stroke-width="6.0625" stroke-linecap="square" stroke-linejoin="round"/>
                                <path d="M45.6095 40.7617C45.2345 40.7242 44.7845 40.7242 44.372 40.7617C35.447 40.4617 28.3595 33.1492 28.3595 24.1492C28.322 14.9617 35.7845 7.49921 44.972 7.49921C54.1595 7.49921 61.622 14.9617 61.622 24.1492C61.622 33.1492 54.497 40.4617 45.6095 40.7617Z" stroke="#EAEAEA" stroke-width="6.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M44.9687 81.7881C38.1437 81.7881 31.3562 80.0631 26.1812 76.6131C17.1063 70.5381 17.1063 60.6381 26.1812 54.6006C36.4937 47.7006 53.4062 47.7006 63.7187 54.6006" stroke="#EAEAEA" stroke-width="6.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .articles__info 
                                p.articles__name <strong>Адрес:</strong> 192283, г. Санкт-Петербург, ул. Будапештская, д. 91, корп. Корпус 1 литер А
                                p.articles__name <strong>ИНН</strong> 7816013624 
                                p.articles__name <strong>ОГРН</strong> 1027807989868
                    li.articles__item.swiper-slide 
                        .articles__link-content
                            .articles__top 
                                p.articles__top-title ЖСК № 887
                                <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M54.1562 71.4383L59.8563 77.1383L71.2563 65.7383" stroke="#00AE00" stroke-opacity="0.1" stroke-width="6.0625" stroke-linecap="square" stroke-linejoin="round"/>
                                <path d="M45.6095 40.7617C45.2345 40.7242 44.7845 40.7242 44.372 40.7617C35.447 40.4617 28.3595 33.1492 28.3595 24.1492C28.322 14.9617 35.7845 7.49921 44.972 7.49921C54.1595 7.49921 61.622 14.9617 61.622 24.1492C61.622 33.1492 54.497 40.4617 45.6095 40.7617Z" stroke="#EAEAEA" stroke-width="6.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M44.9687 81.7881C38.1437 81.7881 31.3562 80.0631 26.1812 76.6131C17.1063 70.5381 17.1063 60.6381 26.1812 54.6006C36.4937 47.7006 53.4062 47.7006 63.7187 54.6006" stroke="#EAEAEA" stroke-width="6.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .articles__info 
                                p.articles__name <strong>Адрес:</strong> 192283, г. Санкт-Петербург, ул. Будапештская, д. 91, корп. Корпус 1 литер А
                                p.articles__name <strong>ИНН</strong> 7816013624 
                                p.articles__name <strong>ОГРН</strong> 1027807989868
                    li.articles__item.swiper-slide
                        .articles__link-content
                            .articles__top 
                                p.articles__top-title ЖСК № 887
                                <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M54.1562 71.4383L59.8563 77.1383L71.2563 65.7383" stroke="#00AE00" stroke-opacity="0.1" stroke-width="6.0625" stroke-linecap="square" stroke-linejoin="round"/>
                                <path d="M45.6095 40.7617C45.2345 40.7242 44.7845 40.7242 44.372 40.7617C35.447 40.4617 28.3595 33.1492 28.3595 24.1492C28.322 14.9617 35.7845 7.49921 44.972 7.49921C54.1595 7.49921 61.622 14.9617 61.622 24.1492C61.622 33.1492 54.497 40.4617 45.6095 40.7617Z" stroke="#EAEAEA" stroke-width="6.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M44.9687 81.7881C38.1437 81.7881 31.3562 80.0631 26.1812 76.6131C17.1063 70.5381 17.1063 60.6381 26.1812 54.6006C36.4937 47.7006 53.4062 47.7006 63.7187 54.6006" stroke="#EAEAEA" stroke-width="6.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .articles__info 
                                p.articles__name <strong>Адрес:</strong> 192283, г. Санкт-Петербург, ул. Будапештская, д. 91, корп. Корпус 1 литер А
                                p.articles__name <strong>ИНН</strong> 7816013624 
                                p.articles__name <strong>ОГРН</strong> 1027807989868
                    li.articles__item.swiper-slide
                        .articles__link-content
                            .articles__top 
                                p.articles__top-title ЖСК № 887
                                <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M54.1562 71.4383L59.8563 77.1383L71.2563 65.7383" stroke="#00AE00" stroke-opacity="0.1" stroke-width="6.0625" stroke-linecap="square" stroke-linejoin="round"/>
                                <path d="M45.6095 40.7617C45.2345 40.7242 44.7845 40.7242 44.372 40.7617C35.447 40.4617 28.3595 33.1492 28.3595 24.1492C28.322 14.9617 35.7845 7.49921 44.972 7.49921C54.1595 7.49921 61.622 14.9617 61.622 24.1492C61.622 33.1492 54.497 40.4617 45.6095 40.7617Z" stroke="#EAEAEA" stroke-width="6.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M44.9687 81.7881C38.1437 81.7881 31.3562 80.0631 26.1812 76.6131C17.1063 70.5381 17.1063 60.6381 26.1812 54.6006C36.4937 47.7006 53.4062 47.7006 63.7187 54.6006" stroke="#EAEAEA" stroke-width="6.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .articles__info 
                                p.articles__name <strong>Адрес:</strong> 192283, г. Санкт-Петербург, ул. Будапештская, д. 91, корп. Корпус 1 литер А
                                p.articles__name <strong>ИНН</strong> 7816013624 
                                p.articles__name <strong>ОГРН</strong> 1027807989868
            .swiper-button-next
            .swiper-button-prev 