mixin progress()
    section.progress
        .progress__content
            ul.progress__list 
                li.progress__item 
                    span.progress__sum 16 лет
                    p.progress__text В сфере ЖКХ
                li.progress__item 
                    span.progress__sum 200+
                    p.progress__text Клиентов ТСЖ/ЖСК
                li.progress__item 
                    span.progress__sum 7+
                    p.progress__text Создано ТСЖ
                li.progress__item 
                    span.progress__sum 130+
                    p.progress__text Судебных процессов по ЖКХ