mixin protect()
    section.protect
        .protect__content 
            .protect__inner 
                h1.protect__title Защитим Ваши интересы в суде
                p.protect__text Представление интересов заказчика в судах: арбитражные, гражданские, административные дела
                p.protect__text Подготовка и подача исковых заявлений, возражений, иных судебных документов
                ul.protect__list 
                    li.protect__item 
                        p.protect__item-text Присутствие на заседании - <strong>6000 р</strong>  
                    li.protect__item 
                        p.protect__item-text Подготовка мотивированных ответов на письма (запросы) от госорганов - <strong>от 3000 р</strong> 
                    li.protect__item 
                        p.protect__item-text Подготовка искового заявления/отзыва на исковое заявление - <strong>6000 р</strong> 
                    li.protect__item 
                        p.protect__item-text Подготовка писем (запросов) или ответов в госорганы, поставщикам коммунальных услуг, обслуживающим организациям и т.п. - <strong>3000 р</strong> 
                p.protect__strong-text Судебные расходы взыскиваем с ответчика
        +news-block
        