mixin reviews()
    section.reviews
        .articles-page__content 
            .articles-page__inner 
                .news__titles 
                    h2.news__title Благодарственные письма
                    p.news__all На этой странице вы можете ознакомиться <br>с благодарственными письмами от наших клиентов 
                ul.articles__list 
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__image
                                img(src="img/content/thanks.png" alt="Фото отзыва").articles__img
                            .articles__info 
                                p.articles__name ООО "РСТ Энерджи"
                +pagination
        +news-block
                    
