mixin sertificates()
    section.sertificates
        .buy__content 
            .buy__titles
                .machine__titles 
                    h2.machine__title Certificados de ANTS Machine
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
            p.mainly__text-one Los productos de la serie ANT Machine sonde última generación, fiables y seguros, y proporcionan valor comercial a largo plazo a nuestros clientes de todo el mundo
            ul.sertificates__list 
                li.sertificates__item
                    a(href="img/content/sert1.png" data-fancybox="galary")
                        img(src="img/content/sert1.png" alt="Sertificates1").sertificates__img 
                li.sertificates__item
                    a(href="img/content/sert2.png" data-fancybox="galary")
                        img(src="img/content/sert2.png" alt="Sertificates2").sertificates__img 
                li.sertificates__item
                    a(href="img/content/sert3.png" data-fancybox="galary")
                        img(src="img/content/sert3.png" alt="Sertificates3").sertificates__img 
                li.sertificates__item
                    a(href="img/content/sert4.png" data-fancybox="galary")
                        img(src="img/content/sert4.png" alt="Sertificates4").sertificates__img  