mixin service()
  section.service
    a(href="#" id="sticker").service__jivo-link
      img(src="img/content/jivo.png").service__jivo-img
    .service__content 
      h2.service__title Услуги 
      .service__slider.swiper
        ul.service__list.swiper-wrapper 
          li.service__item.swiper-slide
            a(href="#").service__slide-link 
              h3.service__slide-title Проведение общих собраний
              .service__slide-content
                p.service__slide-text - Формирование повестки собрания в соответствии с законодательством
                p.service__slide-text - Подготовка всех документов собрания: уведомление, решение (бюллетень), протокол
                p.service__slide-text - Участие в очной части собрания...
              button.service__slide-btn Подробнее
          li.service__item.swiper-slide
            a(href="#").service__slide-link 
              h3.service__slide-title Взыскание задолженности
              .service__slide-content
                p.service__slide-text - Формирование повестки собрания в соответствии с законодательством
                p.service__slide-text - Подготовка всех документов собрания: уведомление, решение (бюллетень), протокол
                p.service__slide-text - Участие в очной части собрания...
              button.service__slide-btn Подробнее
          li.service__item.swiper-slide
            a(href="#").service__slide-link 
              h3.service__slide-title Сопровождение деятельности ТСЖ/ЖСК
              .service__slide-content
                p.service__slide-text - Формирование повестки собрания в соответствии с законодательством
                p.service__slide-text - Подготовка всех документов собрания: уведомление, решение (бюллетень), протокол
                p.service__slide-text - Участие в очной части собрания...
              button.service__slide-btn Подробнее
          li.service__item.swiper-slide
            a(href="#").service__slide-link 
              h3.service__slide-title Проведение общих собраний
              .service__slide-content
                p.service__slide-text - Формирование повестки собрания в соответствии с законодательством
                p.service__slide-text - Подготовка всех документов собрания: уведомление, решение (бюллетень), протокол
                p.service__slide-text - Участие в очной части собрания...
              button.service__slide-btn Подробнее
          li.service__item.swiper-slide
            a(href="#").service__slide-link 
              h3.service__slide-title Сопровождение деятельности ТСЖ/ЖСК
              .service__slide-content
                p.service__slide-text - Формирование повестки собрания в соответствии с законодательством
                p.service__slide-text - Подготовка всех документов собрания: уведомление, решение (бюллетень), протокол
                p.service__slide-text - Участие в очной части собрания...
              button.service__slide-btn Подробнее
          li.service__item.swiper-slide
            a(href="#").service__slide-link 
              h3.service__slide-title Проведение общих собраний
              .service__slide-content
                p.service__slide-text - Формирование повестки собрания в соответствии с законодательством
                p.service__slide-text - Подготовка всех документов собрания: уведомление, решение (бюллетень), протокол
                p.service__slide-text - Участие в очной части собрания...
              button.service__slide-btn Подробнее
      .swiper-button-next
      .swiper-button-prev
    +news-block

    
