mixin single-news()
    sectinon.single-news 
        .document__content 
            h1.document__title Обязанность собственника по заключению договора на ВКГО
            .document__inner 
                .document__image 
                    img(src="img/content/doc1.png").document__img 
                .document__info 
                    p.document__date Дата: 06 февраля 2024 года 
                    p.document__text Перечень необходимых документов указан в п. 18–19 Правил пользования газом в части обеспечения безопасности при использовании и содержании внутридомового и внутриквартирного газового оборудования при предоставлении коммунальной услуги по газоснабжению (утверждены Постановлением Правительства РФ от 14.05.2013 N 410 «О мерах по обеспечению безопасности при использовании и содержании внутридомового и внутриквартирного газового оборудования»).
                    p.document__text п.18 Правил.
                    p.document__text Для заключения договора о техническом обслуживании и ремонте ВДГО или ВКГО заявитель направляет в специализированную организацию заявку (оферту) в письменной форме, которая должна содержать в том числе следующие сведения:
                    p.document__text а) информация о заявителе:
                    p.document__text * для гражданина: фамилия, имя, отчество, дата и место рождения, место жительства, реквизиты основного документа, удостоверяющего личность, а также страховой номер индивидуального лицевого счета (СНИЛС), идентификационный номер налогоплательщика (ИНН);
                .document__info-bottom
                    p.document__text п.19 Правил.
                    p.document__text К заявке (оферте) прилагаются следующие документы:
                    p.document__text <strong>Для заявителя — гражданина:</strong>
                    p.document__text * копия основного документа, удостоверяющего личность (паспорт);
                    p.document__text * документы, подтверждающие право собственности (пользования) на помещение в многоквартирном доме (выписка из ЕГРН);
                    p.document__text * документы, подтверждающие состав внутриквартирного газового оборудования и соответствие входящего в него оборудования нормативным техническим требованиям, предъявляемым к этому оборудованию (технические паспорта, сертификаты соответствия и др.) (при наличии);
                    p.document__text *документы, содержащие дату опломбирования прибора учёта газа изготовителем или организацией, осуществлявшей его последнюю поверку, а также установленный срок проведения очередной поверки (при наличии).
                .document__info-bottom
                    p.document__text <strong>Для заявителя — юридического лица:</strong>
                    p.document__text * копии учредительных документов, заверенные государственным органом, осуществляющим ведение Единого государственного реестра юридических лиц, или нотариусом;
                    p.document__text * документ, подтверждающий правомочие представителя юридического лица выступать от имени этого юридического лица (доверенность);
                    p.document__text * для управляющей организации: договор управления МКД и протокол общего собрания собственников помещений о заключении указанного договора с управляющей организацией (п. 22 Правил);
                    p.document__text * для товарищества или кооператива: протокол общего собрания собственников помещений о выборе в качестве способа управления МКД управление товариществом или кооперативом (п. 22 Правил).
                    p.document__text Комментарии — Для ЖСК протокол собрания собственников представлен быть не может, так как ЖСК обычно создаётся до строительства дома без собрания собственников. В случае отсутствия протоколов собрания собственников рекомендуем приобщить Устав (там обычно указан адрес МКД) или выписку из ГИС с указанием адреса МКД.
                    p.document__text * документы, подтверждающие состав внутридомового и соответствие входящего в него оборудования нормативным техническим требованиям, предъявляемым к этому оборудованию (технические паспорта, сертификаты соответствия и др.) (при наличии);
                    p.document__text * документы, содержащие дату опломбирования прибора учёта газа изготовителем или организацией, осуществлявшей его последнюю поверку, а также установленный срок проведения очередной поверки (при наличии).
                .document__info-bottom
                    p.document__text <strong>Для заявителя — представителя собственников при заключении договора на ВКГО:</strong>
                    p.document__text * протокол общего собрания собственников помещений, содержащий решение об определении лица, уполномоченного на заключение договора о техническом обслуживании внутриквартирного газового оборудования в многоквартирном доме от имени всех собственников помещений и нанимателей жилых помещений.
                .document__block-image.swiper-container
                    .document__block-list.swiper-wrapper
                        .document__block-item.swiper-slide
                            img(src="img/content/doc1.png").document__block-img
                        .document__block-item.swiper-slide 
                            img(src="img/content/doc1.png").document__block-img
                        .document__block-item.swiper-slide
                            img(src="img/content/doc1.png").document__block-img
                        .document__block-item.swiper-slide 
                            img(src="img/content/doc1.png").document__block-img
                .swiper-button-next
                .swiper-button-prev
                h3.document__app-title Приложения
                .document__app 
                    .document__app-item 
                        <svg width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.599 0H0V30.75H24V8.42387L15.599 0ZM15.3333 8.69022V1.6033L22.401 8.69022H15.3333Z" fill="#00AE00"/>
                        </svg>
                        p.document__app-text Заявка на ВКГО
                        a(href="" download).document__app-link Скачать
                    .document__app-item 
                        <svg width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.599 0H0V30.75H24V8.42387L15.599 0ZM15.3333 8.69022V1.6033L22.401 8.69022H15.3333Z" fill="#00AE00"/>
                        </svg>
                        p.document__app-text ТР-ТС-0112011-Безопасность-лифтов
                        a(href="" download).document__app-link Скачать
        +news-block 