mixin specialists()
    section.specialists
        .specialists__content 
            h1.specialists__title Специалисты 
        .specialists__card
            .specialists__card-content.one
                .specialists__image 
                    img(src="img/content/spec1.png" alt="Фото специалиста-юриста").specialists__img
                .specialists__info 
                    h3.specialists__name Сметанин Александр Леонидович 
                    p.specialists__job-title Pуководитель компании «Правовая помощь ЖКХ»
                    .specialists__image-mobile 
                        img(src="img/content/spec1.png" alt="Фото специалиста-юриста").specialists__img-mobile
                    .specialists__spec 
                        p.specialists__spec-title <strong>Специализация:</strong>
                        ul.specialists__spec-list 
                            li.specialists__spec-item 
                                p.specialists__spec-text Административное право
                            li.specialists__spec-item 
                                p.specialists__spec-text Жилищные вопросы
                            li.specialists__spec-item 
                                p.specialists__spec-text Взыскание задолженности
                            li.specialists__spec-item 
                                p.specialists__spec-text Возмещение ущерба
                    .specialists__education
                        p.specialists__education-title <strong>Образование:</strong> 
                        ul.specialists__education-list 
                            li.specialists__education-item 
                                p.specialists__education-text Высшее строительное – СПб университет путей сообщения, квалификация - инженер-строитель, специализация «Строительство и ремонт ЖД путей, путь и путевое хозяйство».
                            li.specialists__education-item 
                                p.specialists__education-text Высшее юридическое - СПб институт Генеральной прокуратуры РФ, квалификация–юрист, специализация «Юриспруденция». 
                    .specialists__work 
                        p.specialists__work-title <strong>Трудовая деятельность:</strong>  
                        ul.specialists__work-list 
                            li.specialists__work-item 
                                p.specialists__work-text - Октябрьская железная дорога – дорожный мастер; 
                            li.specialists__work-item 
                                p.specialists__work-text - строительные компании г. Санкт-Петербурга – мастер, прораб, начальник участка; 
                            li.specialists__work-item 
                                p.specialists__work-text - Северо-Западная Транспортная Прокуратура - специалист отдела МТО; 
                            li.specialists__work-item 
                                p.specialists__work-text - Администрации Московского, Кировского района Санкт-Петербурга - главный специалист, исполняющий обязанности начальника отдела районного хозяйства; 
                            li.specialists__work-item 
                                p.specialists__work-text - Государственная жилищная инспекция Санкт-Петербурга – ведущий, главный специалист отдела контроля; 
                            li.specialists__work-item 
                                p.specialists__work-text - СПб ГКУ «Жилищное агентство Фрунзенского района» - начальник отдела капитального ремонта и технического надзора. c 2017 г.
                            li.specialists__work-item 
                                p.specialists__work-text – частный юрист в сфере ЖКХ. Классный чин - Советник государственной гражданской службы Санкт-Петербурга 2-го класса (Приказ ГЖИ СПб от 16.07.2012 № 331-К).  
        .specialists__card
            .specialists__card-content
                .specialists__image 
                    img(src="img/content/spec2.png" alt="Фото специалиста-юриста").specialists__img
                .specialists__info 
                    h3.specialists__name Золотухина Наталья Сергеевна 
                    p.specialists__job-title Споры с АО «Невский экологический оператор»
                    .specialists__image-mobile 
                        img(src="img/content/spec2.png" alt="Фото специалиста-юриста").specialists__img-mobile
                    .specialists__spec 
                        p.specialists__spec-title <strong>Специализация:</strong>
                        ul.specialists__spec-list 
                            li.specialists__spec-item 
                                p.specialists__spec-text взаимодействием с судебными приставами
                            li.specialists__spec-item 
                                p.specialists__spec-text миграционное, трудовое и корпоративное право
                            li.specialists__spec-item 
                                p.specialists__spec-text регистрацией в ФНС
                            li.specialists__spec-item 
                                p.specialists__spec-text взысканием задолженности 
                    .specialists__education
                        p.specialists__education-title <strong>Образование:</strong>
                        ul.specialists__education-list 
                            li.specialists__education-item 
                                p.specialists__education-text В 2017 году окончила Ленинградский государственный университет имени А.С. Пушкина по специальности юриспруденция, направленность общеобразовательной программы: гражданское право, присвоена степень бакалавр.
                            li.specialists__education-item 
                                p.specialists__education-text В 2020 году окончила Российский Государственный университет Правосудия
                            li.specialists__education-item 
                                p.specialists__education-text по специальности: юриспруденция, направленность общеобразовательной программы: корпоративный юрист, присвоена степень магистр. Защитила магистерскую диссертацию на тему «Холдинги: правовое регулирование и корпоративное управление».
                    .specialists__work 
                        p.specialists__work-title <strong>О себе:</strong>
                        p.specialists__work-text Много времени посвятила изучению английского языка, занималась кроссфитом и пауэрлифтингом. В данный момент мои основные хобби — это изучение психологии и визаж, я люблю посещать новые страны и регулярно ходить в тренажерный зал.
                        p.specialists__work-text Мои личностные качества, которые пригодились мне в работе юристом – целеустремленность и доброжелательность к окружающим людям.
        .specialists__card
            .specialists__card-content
                .specialists__image 
                    img(src="img/content/spec3.png" alt="Фото специалиста-юриста").specialists__img
                .specialists__info 
                    h3.specialists__name Завалищева Анжелика Андреевна 
                    p.specialists__job-title Консультант-юрист 
                    .specialists__image-mobile 
                        img(src="img/content/spec3.png" alt="Фото специалиста-юриста").specialists__img-mobile
                    .specialists__spec 
                        p.specialists__spec-title <strong>Специализация:</strong>
                        ul.specialists__spec-list 
                            li.specialists__spec-item 
                                p.specialists__spec-text продажи и менеджмент
                            li.specialists__spec-item 
                                p.specialists__spec-text офис-менеджер
                    .specialists__education
                        p.specialists__education-title <strong>Образование:</strong>
                        ul.specialists__education-list 
                            li.specialists__education-item 
                                p.specialists__education-text Алтайский государственный технический университет им. И.И. Ползунова по специальности менеджмент. 
                    .specialists__work 
                        p.specialists__work-title <strong>О себе:</strong>
                        p.specialists__work-text Детство и школьные годы проживала в городе Норильске.После окончания учебного заведения в 2019 году переехала жить в Санкт-Петербург. Основную часть своей деятельности посвятила работе с клиентами: продажи и менеджмент. 
                        p.specialists__work-text Одним из главных моих хобби является сфера красоты: окончила курсы по маникюру и оформлению бровей. Люблю проводить время за чтением художественной литературы и занятиями в тренажерном зале.
                        p.specialists__work-text Личностные качества, которые мне помогают в работе - вежливость, отзывчивость и эмпатия.
        .specialists__card
            .specialists__card-content
                .specialists__image 
                    img(src="img/content/spec4.png" alt="Фото специалиста-юриста").specialists__img
                .specialists__info 
                    h3.specialists__name Дружинина Олеся Владимировна 
                    p.specialists__job-title Юрист по гражданским делам 
                    .specialists__image-mobile 
                        img(src="img/content/spec4.png" alt="Фото специалиста-юриста").specialists__img-mobile
                    .specialists__spec 
                        p.specialists__spec-title <strong>Специализация:</strong>
                        ul.specialists__spec-list 
                            li.specialists__spec-item 
                                p.specialists__spec-text гражданские дела
                            li.specialists__spec-item 
                                p.specialists__spec-text возмещении вреда здоровью
                            li.specialists__spec-item 
                                p.specialists__spec-text возмещении ущерба
                            li.specialists__spec-item 
                                p.specialists__spec-text приказное производство
                    .specialists__education
                        p.specialists__education-title <strong>Образование:</strong>
                        ul.specialists__education-list 
                            li.specialists__education-item 
                                p.specialists__education-text В 1998 году закончила Санкт-Петербургский институт машиностроение (в настоящее время присоединен к Санкт-Петербургскому политехническому университету Петра Великого (СПбПУ)), специальность «Инженер-механик» (специалист),
                            li.specialists__education-item 
                                p.specialists__education-text в 2009 году закончила АНО ВО "Санкт-Петербургская Юридическая академия", специальность «Юрист» (специалист),
                            li.specialists__education-item 
                                p.specialists__education-text в 2019 году закончила АНО ДПО «Учебный центр «Педагогический Альянс», специальность «Специалист по социальной работе» (специалист).
                    .specialists__work 
                        p.specialists__work-title <strong>О себе:</strong>
                        p.specialists__work-text Родилась и до 1984 года жила в городе Тихвине Ленинградской области. С 1984 года живу в Санкт-Петербурге.
                        p.specialists__work-text В работе мне помогают такие мои качества, как: профессионализм, ответственность, внимание к деталям, неравнодушие к проблемам клиентов, уверенность в необходимости постоянного контроля ситуации каждого клиента, терпение и доброжелательность, хорошее понимание не только правовых, но и процессуальных моментов каждого дела, настроенность на положительный результат.
        +news-block                             