mixin thanks()
    section.thanks
        .thanks__content
            .thanks__inner 
                .thanks__image 
                    img(src="img/content/thanks.png" alt="Thank you").thanks__img
                .thanks__info 
                    h1.thanks__title Gracias,
                    p.thanks__text hemos recibido su solicitud
                    p.thanks__text-small Un técnico especialista se pondrá en contacto con usted en breve para aclarar los detalles de su tarea.
                    a(href="index.html").thanks__link volver a inicio