mixin work()
    section.work 
        .articles-page__content 
            h1.articles-page__title Текущие дела
            .articles-page__inner 
                ul.articles__list 
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года
                                p.articles__desc Судебное заседание о взыскании судебных расходов в Арбитражном суде Санкт-Петербурга и Ленинградской области завершено победой ответчика — ТСЖ «Ленинский 109»
                                button(type="button").articles__btn Читать далее
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__desc Судебное заседание о взыскании судебных расходов в Арбитражном суде Санкт-Петербурга и Ленинградской области завершено победой ответчика — ТСЖ «Ленинский 109»
                                button(type="button").articles__btn Читать далее
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__desc Представление интересов ТСЖ «Янтарный Дом» в судебном заседании о взыскании судебных расходов в Судебном участке №128
                                button(type="button").articles__btn Читать далее
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__desc Победа в судебном заседании Арбитражного суда Санкт-Петербурга по исковому заявлению ТСЖ «Ленинский 109» к ГУП «Водоканал Санкт-Петербурга» о взыскании денежных средств
                                button(type="button").articles__btn Читать далее
                                   <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года
                                p.articles__desc Судебное заседание о взыскании судебных расходов в Арбитражном суде Санкт-Петербурга и Ленинградской области завершено победой ответчика — ТСЖ «Ленинский 109»
                                button(type="button").articles__btn Читать далее
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item 
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__desc Судебное заседание о взыскании судебных расходов в Арбитражном суде Санкт-Петербурга и Ленинградской области завершено победой ответчика — ТСЖ «Ленинский 109»
                                button(type="button").articles__btn Читать далее
                                   <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg> 
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__desc Представление интересов ТСЖ «Янтарный Дом» в судебном заседании о взыскании судебных расходов в Судебном участке №128
                                button(type="button").articles__btn Читать далее
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__desc Победа в судебном заседании Арбитражного суда Санкт-Петербурга по исковому заявлению ТСЖ «Ленинский 109» к ГУП «Водоканал Санкт-Петербурга» о взыскании денежных средств
                                button(type="button").articles__btn Читать далее
                                   <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__desc С 01 сентября 2023 года вступили в силу поправки в Федеральный закон «О газоснабжении в РФ», Жилищный кодекс РФ и Правила пользования газом...
                                button(type="button").articles__btn Читать далее
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года 
                                p.articles__desc Уважаемые руководители ТСЖ/ЖСК! Как всем Вам известно, в настоящее время сложилась противоречивая судебная...
                                button(type="button").articles__btn Читать далее
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года
                                p.articles__desc Уважаемые руководители ТСЖ/ЖСК! Как всем Вам известно, в настоящее время сложилась противоречивая судебная...
                                button(type="button").articles__btn Читать далее
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                    li.articles__item
                        a(href="#").articles__link-content
                            .articles__info 
                                p.articles__date  06 февраля 2024 года
                                p.articles__desc Уважаемые руководители ТСЖ/ЖСК! Как всем Вам известно, в настоящее время сложилась противоречивая судебная...
                                button(type="button").articles__btn Читать далее
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.453125 1.05338L0.453125 5.20671L0.453125 8.94671C0.453125 9.58671 1.22646 9.90671 1.67979 9.45338L5.13312 6.00005C5.68646 5.44671 5.68646 4.54671 5.13312 3.99338L3.81979 2.68005L1.67979 0.540046C1.22646 0.0933793 0.453125 0.41338 0.453125 1.05338Z" fill="#00AE00"/>
                                    </svg>
                +pagination
        +news-block