.contacts {
    &__content {
        max-width: 1420px;
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
    }

    &__title {
        color: rgb(0, 0, 0);
        font-family: Oswald;
        font-size: 40px;
        font-weight: 600;
        line-height: 140%;
        margin: 0 0 30px;
    }

    &__inner {
        max-width: 1270px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 0.8fr;
        gap: 40px 70px;
        padding-bottom: 70px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__name {
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        margin: 0 0 10px;
    }

    &__desc {
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        max-width: 500px;
        width: 100%;
        margin: 0;
        transition: .3s;
    }

    &__item>a:hover {
        color: rgb(0, 194, 0);
    }

    &__social {
        margin-top: 20px;
    }

    &__map {
        padding: 0;
        margin: 0;
        max-width: 721px;
    }

    &__map-mobile {
        display: none;
    }

    iframe {
        max-width: 100%;
    }

    @media screen and (max-width: 1780px) {
        &__inner {
            max-width: 1100px;
        }

        &__desc {
            max-width: 420px;
        }
    }

    @media screen and (max-width: 1520px) {
        &__inner {
            max-width: 1000px;
            gap: 40px;
        }

        &__desc {
            max-width: 360px;
        }
    }

    @media screen and (max-width: 1320px) {
        &__inner {
            max-width: 900px;
        }
    }

    @media screen and (max-width: 1280px) {
        &__inner {
            max-width: 100%;
            grid-template-columns: 2fr 1fr;
            gap: 40px;
        }
    }

    @media screen and (max-width: 900px) {
        &__inner {
            max-width: 100%;
            grid-template-columns: 1fr 0.8fr;
            gap: 40px;
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            padding: 0 45px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 30px;
        }

        &__map {
            display: none;
        }

        &__map-mobile {
            display: block;
            height: 550px;
            max-width: 768px;
        }

        &__inner {
            display: block;
            padding-bottom: 40px;
        }

        &__list {
            gap: 30px;
        }

        &__desc {
            max-width: 100%;
        }

        &__social {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: 390px) {
        &__content {
            padding: 0 35px;
        }

        &__title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &__inner {
            padding-bottom: 40px;
        }

        &__name {
            font-size: 18px;
        }

        &__desc {
            font-size: 16px;
        }
    }

    /*iframe>.place-card .place-card-large {
        display: none;
    }

    iframe>.gm-style.place-card-large {
        display: none;
    }*/
}