.contacts {
    .buy__content {
        padding-top: 0;
    }

    .machine__titles {
        display: flex;
        margin-bottom: 50px;
    }

    .form__form {
        max-width: 710px;
        padding: 40px;
        box-shadow: 0px 0px 20px 0px rgba(67, 67, 67, 0.1);
        background: rgb(255, 255, 255);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .custom-input input,
    .custom-textarea textarea {
        background: rgb(245, 245, 245);
        color: black;
    }

    .custom-textarea textarea {
        height: 100px;
    }

    &__input,
    &__input-text,
    .custom-input input,
    .custom-input__label,
    .custom-textarea textarea,
    .custom-textarea__label {
        color: rgb(26, 26, 26);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 110%;
    }

    .form__title {
        color: rgb(26, 26, 26);
        font-family: Inter;
        font-size: 44px;
        font-weight: 700;
        line-height: 140%;
        margin: 0 0 15px;
    }

    .form__desc {
        color: rgb(26, 26, 26);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin: 0 0 20px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        gap: 40px 60px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__name {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
        margin: 0 0 10px;
        position: relative;

        svg {
            position: absolute;
            left: -40px;
        }
    }

    &__desc {
        color: rgb(26, 26, 26);
        font-family: Blinker, sans-serif;
        font-size: 20px;
        line-height: 150%;
        max-width: 720px;
        width: 100%;
        margin: 0;
        transition: .3s;
    }

    &__item>a:hover {
        color: rgb(210, 0, 0);
    }

    &__map {
        /* overflow:hidden;
        clip-path: polygon(0 25%, 100% 25%, 100% 100%, 0% 100%);
        margin-top: -150px;*/
        padding: 0;
        margin: 0;
        margin-bottom: -10px;
        text-align: center;
    }

    iframe {
        max-width: 100%;
    }

    iframe>.place-card .place-card-large {
        display: none;
    }

    iframe>.gm-style.place-card-large {
        display: none;
    }

    @media screen and (max-width: 1180px) {
        .form__box {
            grid-template-columns: 1fr;
            gap: 20px;
        }

    }

    @media screen and (max-width: 1024px) {
        &__inner {
            display: flex;
            flex-direction: column-reverse;
        }

        &__info {
            padding-left: 40px;
        }

        &__desc {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        .machine__titles {
            margin-bottom: 30px;
        }

        .form__title {
            font-size: 32px;
            margin: 0 0 15px;
        }

        &__map {
            padding: 0 45px 40px;
        }


        &__desc {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 600px) {
        iframe {
            height: 340px;
        }
    }

    @media screen and (max-width: 390px) {
        &__name {
            font-size: 20px;
        }

        .form__form {
            padding: 40px 20px;

        }

        .form__title {
            font-size: 22px;
        }

        &__map {
            padding: 0 35px 40px;
        }

    }
}