.form {
    background-image: url(../img/content/form-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content {
        max-width: 1420px;
        width: 100%;
        margin: 0 auto;
        padding: 70px 40px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        //box-shadow: 0px 0px 20px 0px rgba(67, 67, 67, 0.1);
        gap: 60px;
    }

    &__form {
        max-width: 600px;
        width: 100%;
        background: rgb(255, 255, 255);
        padding: 40px;
    }

    &__info {
        margin-top: 190px;
    }

    &__title {
        color: rgb(255, 255, 255);
        font-family: Oswald;
        font-size: 42px;
        font-weight: 500;
        line-height: 140%;
        max-width: 393px;
        margin: 0 0 25px;
    }

    &__title-text {
        background-color: white;
        border-radius: 4px;
        color: black;
    }

    &__desc {
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        max-width: 460px;
        margin: 0;
    }

    br {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .custom-input input,
    .custom-textarea textarea {
        background: rgb(245, 245, 245);
        color: black;
    }

    .custom-textarea textarea {
        height: 100px;
    }

    &__input,
    &__input-text,
    .custom-input input,
    .custom-input__label,
    .custom-textarea textarea,
    .custom-textarea__label {
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
    }

    input::placeholder,
    textarea::placeholder {
        color: rgb(209, 209, 209);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

    &__btn {
        margin: 10px 0 0;
        width: 100%;
        border-radius: 2px;
        background: rgb(0, 174, 0);
        color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
        padding: 16px;
        transition: .3s;
    }

    &__btn:hover {
        background: rgb(0, 194, 0);
    }

    &__agreement {
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
    }

    .form__sub-link {
        display: inline;
        text-decoration: underline;
        max-width: 490px;
        width: 100%;
    }

    @media screen and (max-width: 1820px) {
        &__inner {
            grid-template-columns: 0.5fr 1fr;
        }
    }

    @media screen and (max-width: 1540px) {
        &__inner {
            grid-template-columns: 1fr;
            justify-items: center;
            margin-right: 50px;
        }

        &__info {
            margin-top: 0;
            margin-right: 120px;
        }
    }

    @media screen and (max-width: 1280px) {
        &__inner {
            display: grid;
            grid-template-columns: 0.8fr 1fr;
            gap: 60px;
            justify-items: auto;
            margin-right: 0;
        }

        &__info {
            margin-top: 190px;
            margin-right: 0;
            width: 393px;
        }
    }

    @media screen and (max-width: 960px) {
        &__inner {
            gap: 10px;
        }

        &__title {
            font-size: 32px;
        }

        &__info {
            width: 100%;
        }

        &__form {
            padding: 40px 30px;
        }
    }

    @media screen and (max-width: 800px) {
        &__title {
            font-size: 28px;
        }

        &__desc {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            padding: 40px 45px;
        }
    }

    @media screen and (max-width: 730px) {
        &__inner {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        &__info {
            margin-top: 0;
        }

        &__title {
            max-width: 100%;
        }

        &__desc {
            max-width: 100%;
        }

        &__form {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 585px) {
        br {
            display: block;
        }
    }

    @media screen and (max-width: 450px) {
        &__title {
            font-size: 24px;
        }

        &__desc {
            font-size: 16px;
        }

    }

    @media screen and (max-width: 390px) {
        &__content {
            padding: 40px 35px;
        }

        br {
            display: none;
        }
    }

    @media screen and (max-width: 318px) {

        &__title {
            font-size: 20px;
        }

        &__desc {
            font-size: 14px;
        }
    }
}