@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.woff2),
         url(../fonts/Roboto-Regular.woff);
}

/*@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.woff);
}*/

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.woff2),
         url(../fonts/Roboto-Medium.woff);
}

/*@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.woff);
}*/

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.woff2),
         url(../fonts/Roboto-Bold.woff);
}

/*@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.woff);
}*/

@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    src: url(../fonts/Oswald-Regular.woff2),
         url(../fonts/Oswald-Regular.woff);
}

/*@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    src: url(../fonts/Oswald-Regular.woff);
}*/

@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    src: url(../fonts/Oswald-Medium.woff2),
         url(../fonts/Oswald-Medium.woff);
}

/*@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    src: url(../fonts/Oswald-Medium.woff);
}*/

@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    src: url(../fonts/Oswald-SemiBold.woff2),
         url(../fonts/Oswald-SemiBold.woff);
}

/*@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    src: url(../fonts/Oswald-SemiBold.woff);
}*/

@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    src: url(../fonts/Oswald-Bold.woff2),
         url(../fonts/Oswald-Bold.woff);
}

/*@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    src: url(../fonts/Oswald-Bold.woff);
}*/