mixin footer()
  footer.footer
    .footer__content
      .footer__inner
        a.footer__logo(href="/", aria-label="Переход на главную")
          <svg width="240" height="72" viewBox="0 0 239 74" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect width="240" height="72" fill="url(#pattern0_3098_4334)"/>
          </svg>
        .footer__documents
          .footer__number 
            h4.footer__name Адрес:
            p.footer__adress 192177, г. Санкт-Петербург, пр-кт Малоохтинский, д. 68, офис 505
          .footer__number 
            h4.footer__name ИНН
            p.footer__adress 780217085708
          .footer__number 
            h4.footer__name ОГРНИП
            p.footer__adress 318784700176410
        //.footer__social-mobile 
          .footer__social-links 
            a.footer__social-link(href="#")
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="#D20000"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5272 24.9017H16.5232C14.9309 24.9012 13.3663 24.5016 11.9767 23.7437L6.93311 25.0667L8.28285 20.1366C7.45026 18.6937 7.01216 17.057 7.01287 15.3802C7.01496 10.1345 11.283 5.8667 16.5271 5.8667C19.0722 5.8678 21.461 6.85861 23.2572 8.65697C25.0535 10.4552 26.0422 12.8456 26.0412 15.3877C26.0391 20.6322 21.7728 24.8996 16.5272 24.9017ZM12.2104 22.0213L12.4991 22.1927C13.7132 22.9131 15.105 23.2944 16.524 23.2949H16.5272C20.8857 23.2949 24.4331 19.7475 24.4348 15.3872C24.4356 13.2742 23.6139 11.2874 22.1209 9.79269C20.6279 8.29796 18.6424 7.47439 16.5303 7.47366C12.1684 7.47366 8.62096 11.0208 8.61923 15.3807C8.61861 16.8749 9.03669 18.3301 9.82826 19.5891L10.0163 19.8883L9.21743 22.8064L12.2104 22.0213ZM20.9947 17.4361C21.1605 17.5162 21.2725 17.5703 21.3203 17.6501C21.3797 17.7492 21.3797 18.2252 21.1817 18.7806C20.9835 19.3359 20.0338 19.8427 19.577 19.9109C19.1675 19.9722 18.6492 19.9977 18.0797 19.8167C17.7345 19.7072 17.2917 19.5609 16.7245 19.316C14.4959 18.3536 12.9898 16.1936 12.7051 15.7854C12.6852 15.7568 12.6713 15.7368 12.6635 15.7264L12.6616 15.7238C12.5357 15.556 11.6928 14.4313 11.6928 13.2672C11.6928 12.1722 12.2307 11.5982 12.4783 11.334C12.4952 11.3159 12.5108 11.2993 12.5248 11.284C12.7427 11.046 13.0003 10.9865 13.1587 10.9865C13.3172 10.9865 13.4759 10.988 13.6144 10.995C13.6314 10.9958 13.6492 10.9957 13.6676 10.9956C13.8061 10.9948 13.9788 10.9938 14.1492 11.403C14.2148 11.5605 14.3107 11.794 14.4118 12.0403C14.6164 12.5383 14.8424 13.0885 14.8822 13.1682C14.9416 13.2872 14.9812 13.4259 14.902 13.5847C14.8901 13.6085 14.8791 13.6309 14.8686 13.6524C14.8091 13.7739 14.7653 13.8633 14.6643 13.9812C14.6246 14.0276 14.5835 14.0776 14.5425 14.1276C14.4607 14.2272 14.3789 14.3268 14.3077 14.3977C14.1887 14.5163 14.0648 14.6449 14.2035 14.8829C14.3421 15.1209 14.8192 15.8993 15.5259 16.5297C16.2856 17.2073 16.9459 17.4937 17.2806 17.6389C17.3459 17.6672 17.3988 17.6902 17.4377 17.7096C17.6753 17.8286 17.814 17.8087 17.9527 17.6501C18.0914 17.4915 18.547 16.9559 18.7054 16.718C18.8639 16.4801 19.0224 16.5197 19.2403 16.599C19.4582 16.6784 20.627 17.2534 20.8647 17.3724C20.9111 17.3957 20.9545 17.4166 20.9947 17.4361Z" fill="white"/>
              </svg>
            a.footer__social-link(href="#")
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="#D20000"/>
              <path d="M15.5208 13.0051L15.5544 13.5587L14.9948 13.4909C12.9579 13.2311 11.1784 12.3498 9.66756 10.8696L8.92891 10.1352L8.73865 10.6776C8.33575 11.8865 8.59316 13.1633 9.43253 14.022C9.8802 14.4965 9.77948 14.5643 9.00725 14.2819C8.73865 14.1915 8.50363 14.1237 8.48124 14.1576C8.4029 14.2367 8.6715 15.2648 8.88414 15.6716C9.17513 16.2365 9.76828 16.7902 10.4174 17.1178L10.9658 17.3777L10.3167 17.389C9.68994 17.389 9.66756 17.4003 9.73471 17.6376C9.95854 18.372 10.8427 19.1516 11.8276 19.4905L12.5214 19.7278L11.9171 20.0894C11.0218 20.6091 9.96973 20.9029 8.91772 20.9255C8.41409 20.9368 8 20.982 8 21.0159C8 21.1289 9.36538 21.7616 10.16 22.0102C12.5438 22.7446 15.3753 22.4282 17.5017 21.1741C19.0126 20.2815 20.5235 18.5076 21.2286 16.7902C21.6091 15.875 21.9896 14.2028 21.9896 13.4006C21.9896 12.8808 22.0232 12.813 22.6499 12.1916C23.0192 11.83 23.3662 11.4346 23.4333 11.3216C23.5452 11.1069 23.534 11.1069 22.9633 11.299C22.012 11.638 21.8777 11.5928 22.3477 11.0843C22.6947 10.7228 23.1088 10.0674 23.1088 9.87536C23.1088 9.84146 22.9409 9.89796 22.7506 9.99964C22.5492 10.1126 22.1015 10.2821 21.7658 10.3838L21.1614 10.5759L20.613 10.203C20.3108 9.99964 19.8856 9.77367 19.6617 9.70588C19.0909 9.5477 18.218 9.57029 17.7032 9.75107C16.3042 10.2595 15.4201 11.5702 15.5208 13.0051Z" fill="white"/>
              </svg>
            a.footer__social-link(href="#")
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="#D20000"/>
              <path d="M17.6676 25.4077V16.7028H20.0706L20.389 13.7031H17.6676L17.6717 12.2017C17.6717 11.4193 17.7461 11.0001 18.8698 11.0001H20.372V8H17.9687C15.082 8 14.066 9.4552 14.066 11.9024V13.7034H12.2666V16.7031H14.066V25.4077H17.6676Z" fill="white"/>
              </svg>
            a.footer__social-link(href="#")
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 31.8689C24.8366 31.8689 32 24.7348 32 15.9344C32 7.13409 24.8366 0 16 0C7.16344 0 0 7.13409 0 15.9344C0 24.7348 7.16344 31.8689 16 31.8689Z" fill="white"/>
              <path d="M16 0C7.16379 0 0 7.13443 0 15.9344C0 22.6885 4.21399 28.459 10.1663 30.7803C10.0214 29.5213 9.90288 27.5803 10.2189 26.2033C10.5086 24.9574 12.0889 18.282 12.0889 18.282C12.0889 18.282 11.6148 17.3246 11.6148 15.9213C11.6148 13.7049 12.9053 12.0525 14.5119 12.0525C15.8815 12.0525 16.5399 13.0754 16.5399 14.2951C16.5399 15.659 15.6708 17.7049 15.2099 19.6066C14.828 21.1934 16.0132 22.4918 17.5802 22.4918C20.4247 22.4918 22.6107 19.5016 22.6107 15.2C22.6107 11.3836 19.8584 8.72131 15.921 8.72131C11.3646 8.72131 8.69136 12.118 8.69136 15.6328C8.69136 16.9967 9.21811 18.4656 9.87654 19.2656C10.0082 19.423 10.0214 19.5672 9.98189 19.7246C9.86337 20.2229 9.58683 21.3115 9.53416 21.5344C9.46831 21.823 9.29712 21.8885 8.99424 21.7443C6.99259 20.8131 5.74156 17.9148 5.74156 15.5672C5.74156 10.5443 9.40247 5.92787 16.316 5.92787C21.8601 5.92787 26.1794 9.86229 26.1794 15.1344C26.1794 20.6295 22.7029 25.0492 17.8831 25.0492C16.2634 25.0492 14.7358 24.2098 14.2222 23.2131C14.2222 23.2131 13.4189 26.2557 13.2214 27.0033C12.8658 28.3934 11.8914 30.1246 11.2329 31.1869C12.7342 31.6459 14.3144 31.8951 15.9737 31.8951C24.8099 31.8951 31.9737 24.7607 31.9737 15.9607C32 7.13443 24.8362 0 16 0Z" fill="#D20000"/>
              </svg>
        .footer__category
          h4.footer__name.footer__name--categ Услуги
          a(href="#") Полный прейскурант
          a(href="#") Частным лицам
          a(href="#") Реновация. Участие дома в программе
          a(href="#") Сократить расходы на вывоз ТБО
          a(href="#") Создание ТСЖ/ЖСК
          a(href="#") Утверждение уставов
          a(href="#") Правовое сопровождение ТСЖ, ЖСК
          a(href="#") Взыскание задолженности 
        ul.footer__menu 
          li.footer__item 
            a(href="#").footer__basic-link О нас 
          li.footer__item 
            a(href="#").footer__basic-link Образцы документов
          li.footer__item 
            a(href="#").footer__basic-link Новости ЖКХ
          li.footer__item 
            a(href="#").footer__basic-link Контакты
          li.footer__item 
            a(href="#").footer__basic-link Клиенты
        .footer__contacts 
          h4.footer__name Контакты
          ul.footer__contacts-list 
            li.footer__contacts-item 
              p.footer__contacts-name Телефон:
              a(href="tel:+79214473650").footer__contacts-link +7 (921)-447-36-50
            li.footer__contacts-item 
              p.footer__contacts-name Почта:
              a(href="mailto:mail@helpgkh.ru").footer__contacts-link mail@helpgkh.ru
        .footer__icons
          .footer__social 
            a.footer__social-link(href="#")
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="white"/>
              <path d="M16.8352 21.2507C16.8352 21.2507 17.1432 21.2171 17.3009 21.0508C17.4453 20.8984 17.4403 20.6108 17.4403 20.6108C17.4403 20.6108 17.4211 19.2678 18.0564 19.0696C18.6824 18.8746 19.4863 20.3683 20.3394 20.9426C20.9838 21.3769 21.4729 21.2819 21.4729 21.2819L23.7526 21.2507C23.7526 21.2507 24.9446 21.1786 24.3795 20.2585C24.3327 20.1831 24.0497 19.5776 22.6849 18.3338C21.2551 17.0318 21.447 17.2424 23.1683 14.9899C24.2167 13.6183 24.6357 12.7809 24.5047 12.4228C24.3803 12.0803 23.609 12.1713 23.609 12.1713L21.043 12.1869C21.043 12.1869 20.8527 12.1615 20.7116 12.2442C20.5739 12.3253 20.4846 12.5146 20.4846 12.5146C20.4846 12.5146 20.0789 13.5757 19.5372 14.4786C18.3944 16.3829 17.9378 16.4836 17.7509 16.3656C17.316 16.0895 17.4245 15.2579 17.4245 14.6671C17.4245 12.8211 17.7099 12.0517 16.8694 11.8526C16.5906 11.7862 16.3852 11.7428 15.6715 11.7354C14.7558 11.7264 13.9812 11.7387 13.5421 11.9492C13.25 12.0894 13.0246 12.4024 13.1623 12.4204C13.3318 12.4425 13.7158 12.522 13.9194 12.794C14.1824 13.1455 14.1732 13.9338 14.1732 13.9338C14.1732 13.9338 14.3243 16.1067 13.8201 16.3763C13.4745 16.5615 13.0004 16.1837 11.9812 14.4557C11.4595 13.5708 11.0655 12.5924 11.0655 12.5924C11.0655 12.5924 10.9895 12.4097 10.8535 12.3114C10.689 12.1926 10.4595 12.1557 10.4595 12.1557L8.02122 12.1713C8.02122 12.1713 7.65478 12.1811 7.52039 12.3376C7.40102 12.4761 7.5112 12.7637 7.5112 12.7637C7.5112 12.7637 9.42023 17.1481 11.5822 19.358C13.5647 21.3835 15.8151 21.2507 15.8151 21.2507H16.8352Z" fill="black"/>
              </svg>
            a.footer__social-link(href="#")
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="white"/>
              <path d="M24.1749 12.0488C23.9786 11.2948 23.4003 10.7011 22.6659 10.4996C21.3351 10.1333 15.9982 10.1333 15.9982 10.1333C15.9982 10.1333 10.6613 10.1333 9.33035 10.4996C8.596 10.7011 8.01767 11.2948 7.8214 12.0488C7.46484 13.4154 7.46484 16.2667 7.46484 16.2667C7.46484 16.2667 7.46484 19.1179 7.8214 20.4845C8.01767 21.2385 8.596 21.8323 9.33035 22.0339C10.6613 22.4 15.9982 22.4 15.9982 22.4C15.9982 22.4 21.3351 22.4 22.6659 22.0339C23.4003 21.8323 23.9786 21.2385 24.1749 20.4845C24.5315 19.1179 24.5315 16.2667 24.5315 16.2667C24.5315 16.2667 24.5315 13.4154 24.1749 12.0488Z" fill="black"/>
              <path d="M14.3984 19.2V13.8667L18.6651 16.5334L14.3984 19.2Z" fill="white"/>
              </svg>
            a.footer__social-link(href="#")
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5276 24.9017H16.5237C14.9314 24.9011 13.3668 24.5016 11.9772 23.7436L6.93359 25.0667L8.28334 20.1366C7.45075 18.6937 7.01265 17.057 7.01336 15.3802C7.01545 10.1345 11.2835 5.86667 16.5276 5.86667C19.0727 5.86777 21.4615 6.85858 23.2577 8.65694C25.054 10.4552 26.0427 12.8456 26.0417 15.3877C26.0396 20.6322 21.7733 24.8995 16.5276 24.9017ZM12.2108 22.0213L12.4996 22.1926C13.7137 22.9131 15.1055 23.2943 16.5244 23.2949H16.5276C20.8862 23.2949 24.4335 19.7474 24.4353 15.3871C24.4361 13.2741 23.6144 11.2874 22.1214 9.79266C20.6284 8.29793 18.6429 7.47436 16.5308 7.47363C12.1689 7.47363 8.62144 11.0207 8.61971 15.3807C8.6191 16.8749 9.03717 18.3301 9.82875 19.5891L10.0168 19.8883L9.21792 22.8064L12.2108 22.0213ZM20.9952 17.436C21.161 17.5162 21.273 17.5703 21.3208 17.6501C21.3802 17.7492 21.3802 18.2252 21.1822 18.7806C20.984 19.3359 20.0343 19.8427 19.5775 19.9109C19.168 19.9721 18.6497 19.9977 18.0802 19.8167C17.7349 19.7071 17.2922 19.5609 16.725 19.3159C14.4964 18.3536 12.9903 16.1936 12.7056 15.7854C12.6857 15.7568 12.6717 15.7368 12.664 15.7264L12.662 15.7238C12.5362 15.5559 11.6933 14.4312 11.6933 13.2672C11.6933 12.1722 12.2312 11.5982 12.4788 11.334C12.4957 11.3159 12.5113 11.2993 12.5253 11.284C12.7432 11.046 13.0008 10.9865 13.1592 10.9865C13.3177 10.9865 13.4763 10.988 13.6148 10.9949C13.6319 10.9958 13.6497 10.9957 13.6681 10.9956C13.8066 10.9948 13.9793 10.9937 14.1497 11.403C14.2153 11.5605 14.3112 11.794 14.4123 12.0403C14.6169 12.5383 14.8429 13.0885 14.8827 13.1681C14.9421 13.2871 14.9817 13.4259 14.9025 13.5846C14.8906 13.6084 14.8796 13.6309 14.8691 13.6524C14.8096 13.7739 14.7658 13.8632 14.6648 13.9812C14.625 14.0276 14.584 14.0776 14.5429 14.1276C14.4612 14.2272 14.3794 14.3267 14.3082 14.3977C14.1892 14.5162 14.0653 14.6448 14.2039 14.8828C14.3426 15.1208 14.8197 15.8993 15.5264 16.5297C16.2861 17.2073 16.9464 17.4937 17.281 17.6388C17.3464 17.6672 17.3993 17.6901 17.4382 17.7096C17.6758 17.8286 17.8145 17.8087 17.9532 17.6501C18.0919 17.4914 18.5474 16.9559 18.7059 16.718C18.8643 16.48 19.0229 16.5197 19.2408 16.599C19.4587 16.6784 20.6275 17.2534 20.8652 17.3724C20.9116 17.3956 20.955 17.4166 20.9952 17.436Z" fill="black"/>
              </svg>
            a.footer__social-link(href="#")
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66797 15.9735C6.66797 10.8417 10.8548 6.66666 16.0012 6.66666C21.1475 6.66666 25.3344 10.8417 25.3344 15.9735C25.3344 16.7005 25.2738 17.289 25.1378 17.8798L25.1358 17.8896C25.1355 17.8913 25.068 18.1636 25.0308 18.2825C24.8001 19.0181 24.3825 19.6308 23.823 20.0543C23.2804 20.4651 22.6076 20.6914 21.9287 20.6914C21.8448 20.6914 21.7603 20.688 21.6776 20.6814C20.7134 20.6042 19.8657 20.0983 19.3459 19.2915C18.4518 20.188 17.2655 20.6812 16.0012 20.6812C13.3981 20.6812 11.2803 18.5693 11.2803 15.9735C11.2803 13.3777 13.3981 11.266 16.0012 11.266C18.6043 11.266 20.7221 13.3777 20.7221 15.9735V17.4911C20.726 18.3765 21.3219 18.7385 21.8309 18.7794C22.3374 18.8184 23.0114 18.5242 23.2462 17.564C23.362 17.0375 23.4209 16.5022 23.4209 15.9735C23.4209 11.8938 20.0924 8.57475 16.0012 8.57475C11.9099 8.57475 8.5815 11.8938 8.5815 15.9735C8.5815 20.0532 11.9099 23.3723 16.0012 23.3723C17.4253 23.3723 18.8104 22.9667 20.0066 22.1994L20.028 22.1856L21.2854 23.6433L21.2584 23.6617C19.7046 24.7207 17.8866 25.2805 16.0012 25.2805C10.8548 25.2805 6.66797 21.1054 6.66797 15.9735ZM16.0012 18.773C17.5491 18.773 18.8086 17.5172 18.8086 15.9735C18.8086 14.4299 17.5491 13.1741 16.0012 13.1741C14.4531 13.1741 13.1938 14.4299 13.1938 15.9735C13.1938 17.5172 14.4531 18.773 16.0012 18.773Z" fill="black"/>
              </svg>
          .footer__raiting 
            img(src="img/content/yandex.jpg")
        .footer__links-mobile
          a(href="#").footer__autor-mobile Сайт разработан студией  Van Gogh Link 
          .footer__low-mobile 
            a(href="#").footer__low-link-mobile Договор оферта
            a(href="#").footer__low-link-mobile Политика конфиденциальности
      .footer__info 
        p.footer__spam Этот сайт защищен от спама службой reCAPTCHA Google. <a href="#" class="footer__spam-link">Политика конфиденциальности</a>/<a href="#" class="footer__spam-link">Условия предоставления услуг</a>
        a(href="#").footer__autor Сайт разработан студией  Van Gogh Link 
        .footer__low 
          a(href="#").footer__low-link Договор оферта
          a(href="#").footer__low-link Политика конфиденциальности

