mixin header(headerMods, currentUrl)
  -
    

  header.header(class=headerMods data-header data-media="(max-width: 1023px)")
    .container
      .header__position 
        a(href="contacts.html").header__place г. Санкт-Петербург, пр-кт Малоохтинский, д. 68, офис 505
        .header__social-link 
          a(href="#")
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12Z" fill="black"/>
            <path d="M12.6293 15.9381C12.6293 15.9381 12.8603 15.9129 12.9786 15.7881C13.0869 15.6738 13.0832 15.4581 13.0832 15.4581C13.0832 15.4581 13.0688 14.4509 13.5452 14.3022C14.0147 14.156 14.6176 15.2762 15.2574 15.707C15.7408 16.0327 16.1076 15.9614 16.1076 15.9614L17.8174 15.9381C17.8174 15.9381 18.7114 15.884 18.2875 15.1939C18.2525 15.1374 18.0402 14.6832 17.0166 13.7504C15.9442 12.7739 16.0882 12.9318 17.3791 11.2425C18.1654 10.2138 18.4797 9.58572 18.3814 9.31717C18.2881 9.0603 17.7097 9.12851 17.7097 9.12851L15.7852 9.14019C15.7852 9.14019 15.6425 9.12114 15.5367 9.18321C15.4334 9.24405 15.3664 9.386 15.3664 9.386C15.3664 9.386 15.0621 10.1818 14.6558 10.859C13.7988 12.2872 13.4563 12.3628 13.3161 12.2743C12.9899 12.0672 13.0713 11.4434 13.0713 11.0004C13.0713 9.61583 13.2854 9.03879 12.655 8.88946C12.4459 8.83969 12.2919 8.80712 11.7566 8.80159C11.0698 8.79483 10.4888 8.80404 10.1595 8.96198C9.94042 9.06706 9.77138 9.30181 9.87468 9.31533C10.0018 9.33192 10.2898 9.39153 10.4425 9.59556C10.6397 9.85919 10.6328 10.4504 10.6328 10.4504C10.6328 10.4504 10.7461 12.0801 10.368 12.2823C10.1088 12.4212 9.75323 12.1379 8.98882 10.8418C8.59754 10.1781 8.30205 9.44438 8.30205 9.44438C8.30205 9.44438 8.24508 9.30734 8.14303 9.2336C8.0197 9.14449 7.84754 9.11684 7.84754 9.11684L6.01885 9.12851C6.01885 9.12851 5.74401 9.13589 5.64322 9.25326C5.55369 9.35712 5.63633 9.57282 5.63633 9.57282C5.63633 9.57282 7.06811 12.8612 8.68957 14.5185C10.1764 16.0376 11.8643 15.9381 11.8643 15.9381H12.6293Z" fill="white"/>
            </svg>
          a(href="#")
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12Z" fill="black"/>
            <path d="M18.1341 9.03671C17.9869 8.4712 17.5531 8.02589 17.0024 7.87476C16.0043 7.6001 12.0016 7.6001 12.0016 7.6001C12.0016 7.6001 7.99887 7.6001 7.00069 7.87476C6.44993 8.02589 6.01618 8.4712 5.86898 9.03671C5.60156 10.0616 5.60156 12.2001 5.60156 12.2001C5.60156 12.2001 5.60156 14.3385 5.86898 15.3635C6.01618 15.929 6.44993 16.3743 7.00069 16.5255C7.99887 16.8001 12.0016 16.8001 12.0016 16.8001C12.0016 16.8001 16.0043 16.8001 17.0024 16.5255C17.5531 16.3743 17.9869 15.929 18.1341 15.3635C18.4016 14.3385 18.4016 12.2001 18.4016 12.2001C18.4016 12.2001 18.4016 10.0616 18.1341 9.03671Z" fill="white"/>
            <path d="M10.7969 14.3999V10.3999L13.9969 12.4L10.7969 14.3999Z" fill="black"/>
            </svg>
          a(href="#")
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3987 18.6762H12.3957C11.2015 18.6757 10.028 18.3761 8.9858 17.8076L5.20312 18.7999L6.21543 15.1023C5.59099 14.0202 5.26241 12.7926 5.26295 11.535C5.26452 7.60075 8.46553 4.3999 12.3986 4.3999C14.3074 4.40073 16.099 5.14384 17.4462 6.49261C18.7934 7.84131 19.535 9.63407 19.5342 11.5407C19.5326 15.474 16.3329 18.6746 12.3987 18.6762ZM9.16106 16.5158L9.37763 16.6444C10.2882 17.1847 11.332 17.4707 12.3963 17.4711H12.3987C15.6675 17.4711 18.3281 14.8105 18.3294 11.5402C18.33 9.95551 17.7137 8.46544 16.594 7.3444C15.4742 6.22335 13.9851 5.60567 12.401 5.60512C9.12959 5.60512 6.46901 8.26546 6.46771 11.5354C6.46725 12.6561 6.78081 13.7475 7.37449 14.6917L7.51551 14.9161L6.91637 17.1047L9.16106 16.5158ZM15.7493 13.0769C15.8737 13.137 15.9577 13.1776 15.9935 13.2375C16.0381 13.3118 16.0381 13.6688 15.8896 14.0853C15.7409 14.5018 15.0287 14.8819 14.6861 14.9331C14.3789 14.979 13.9902 14.9981 13.5631 14.8624C13.3041 14.7803 12.9721 14.6706 12.5467 14.4868C10.8752 13.7651 9.74565 12.1451 9.53215 11.8389C9.5172 11.8175 9.50674 11.8025 9.5009 11.7947L9.49946 11.7928C9.40511 11.6669 8.77288 10.8233 8.77288 9.95029C8.77288 9.12902 9.1763 8.69855 9.362 8.50041C9.37472 8.48683 9.38642 8.47435 9.3969 8.4629C9.56032 8.2844 9.75349 8.23978 9.87235 8.23978C9.99119 8.23978 10.1102 8.24088 10.2141 8.2461C10.2269 8.24674 10.2402 8.24666 10.254 8.24658C10.3579 8.24597 10.4874 8.24521 10.6152 8.55215C10.6644 8.67028 10.7363 8.8454 10.8122 9.0301C10.9656 9.40361 11.1351 9.81629 11.1649 9.87601C11.2095 9.96526 11.2392 10.0693 11.1798 10.1884C11.1709 10.2062 11.1626 10.2231 11.1547 10.2392C11.1101 10.3303 11.0773 10.3973 11.0015 10.4858C10.9717 10.5206 10.9409 10.5581 10.9101 10.5956C10.8488 10.6703 10.7875 10.745 10.7341 10.7982C10.6448 10.8871 10.5519 10.9835 10.6559 11.162C10.7599 11.3405 11.1177 11.9244 11.6477 12.3971C12.2175 12.9054 12.7127 13.1201 12.9637 13.229C13.0127 13.2503 13.0524 13.2675 13.0816 13.2821C13.2598 13.3714 13.3638 13.3564 13.4678 13.2375C13.5718 13.1185 13.9135 12.7168 14.0323 12.5384C14.1512 12.3599 14.2701 12.3897 14.4335 12.4491C14.597 12.5087 15.4735 12.94 15.6518 13.0292C15.6866 13.0466 15.7192 13.0624 15.7493 13.0769Z" fill="white"/>
            </svg>
      .header__wrapper
        a.header__logo(href="/", aria-label="Переход на главную")
          <svg width="240.000000" height="72.000000" viewBox="0 0 240 72" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect id="image 1" width="240.000000" height="72.000000" fill="url(#pattern_4_149160)" fill-opacity="1.000000"/>
          </svg>
        nav.main-nav
          button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-toggle-menu).btn-reset.main-nav__toggle
            span
            span
            span
          .main-nav__menu
            .header__position--mobile 
              a(href="contacts.html").header__place г. Санкт-Петербург, пр-кт Малоохтинский, д. 68, офис 505
              .header__social-link 
                a(href="#")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12Z" fill="black"/>
                  <path d="M12.6293 15.9381C12.6293 15.9381 12.8603 15.9129 12.9786 15.7881C13.0869 15.6738 13.0832 15.4581 13.0832 15.4581C13.0832 15.4581 13.0688 14.4509 13.5452 14.3022C14.0147 14.156 14.6176 15.2762 15.2574 15.707C15.7408 16.0327 16.1076 15.9614 16.1076 15.9614L17.8174 15.9381C17.8174 15.9381 18.7114 15.884 18.2875 15.1939C18.2525 15.1374 18.0402 14.6832 17.0166 13.7504C15.9442 12.7739 16.0882 12.9318 17.3791 11.2425C18.1654 10.2138 18.4797 9.58572 18.3814 9.31717C18.2881 9.0603 17.7097 9.12851 17.7097 9.12851L15.7852 9.14019C15.7852 9.14019 15.6425 9.12114 15.5367 9.18321C15.4334 9.24405 15.3664 9.386 15.3664 9.386C15.3664 9.386 15.0621 10.1818 14.6558 10.859C13.7988 12.2872 13.4563 12.3628 13.3161 12.2743C12.9899 12.0672 13.0713 11.4434 13.0713 11.0004C13.0713 9.61583 13.2854 9.03879 12.655 8.88946C12.4459 8.83969 12.2919 8.80712 11.7566 8.80159C11.0698 8.79483 10.4888 8.80404 10.1595 8.96198C9.94042 9.06706 9.77138 9.30181 9.87468 9.31533C10.0018 9.33192 10.2898 9.39153 10.4425 9.59556C10.6397 9.85919 10.6328 10.4504 10.6328 10.4504C10.6328 10.4504 10.7461 12.0801 10.368 12.2823C10.1088 12.4212 9.75323 12.1379 8.98882 10.8418C8.59754 10.1781 8.30205 9.44438 8.30205 9.44438C8.30205 9.44438 8.24508 9.30734 8.14303 9.2336C8.0197 9.14449 7.84754 9.11684 7.84754 9.11684L6.01885 9.12851C6.01885 9.12851 5.74401 9.13589 5.64322 9.25326C5.55369 9.35712 5.63633 9.57282 5.63633 9.57282C5.63633 9.57282 7.06811 12.8612 8.68957 14.5185C10.1764 16.0376 11.8643 15.9381 11.8643 15.9381H12.6293Z" fill="white"/>
                  </svg>
                a(href="#")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12Z" fill="black"/>
                  <path d="M18.1341 9.03671C17.9869 8.4712 17.5531 8.02589 17.0024 7.87476C16.0043 7.6001 12.0016 7.6001 12.0016 7.6001C12.0016 7.6001 7.99887 7.6001 7.00069 7.87476C6.44993 8.02589 6.01618 8.4712 5.86898 9.03671C5.60156 10.0616 5.60156 12.2001 5.60156 12.2001C5.60156 12.2001 5.60156 14.3385 5.86898 15.3635C6.01618 15.929 6.44993 16.3743 7.00069 16.5255C7.99887 16.8001 12.0016 16.8001 12.0016 16.8001C12.0016 16.8001 16.0043 16.8001 17.0024 16.5255C17.5531 16.3743 17.9869 15.929 18.1341 15.3635C18.4016 14.3385 18.4016 12.2001 18.4016 12.2001C18.4016 12.2001 18.4016 10.0616 18.1341 9.03671Z" fill="white"/>
                  <path d="M10.7969 14.3999V10.3999L13.9969 12.4L10.7969 14.3999Z" fill="black"/>
                  </svg>
                a(href="#")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="black"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3987 18.6762H12.3957C11.2015 18.6757 10.028 18.3761 8.9858 17.8076L5.20312 18.7999L6.21543 15.1023C5.59099 14.0202 5.26241 12.7926 5.26295 11.535C5.26452 7.60075 8.46553 4.3999 12.3986 4.3999C14.3074 4.40073 16.099 5.14384 17.4462 6.49261C18.7934 7.84131 19.535 9.63407 19.5342 11.5407C19.5326 15.474 16.3329 18.6746 12.3987 18.6762ZM9.16106 16.5158L9.37763 16.6444C10.2882 17.1847 11.332 17.4707 12.3963 17.4711H12.3987C15.6675 17.4711 18.3281 14.8105 18.3294 11.5402C18.33 9.95551 17.7137 8.46544 16.594 7.3444C15.4742 6.22335 13.9851 5.60567 12.401 5.60512C9.12959 5.60512 6.46901 8.26546 6.46771 11.5354C6.46725 12.6561 6.78081 13.7475 7.37449 14.6917L7.51551 14.9161L6.91637 17.1047L9.16106 16.5158ZM15.7493 13.0769C15.8737 13.137 15.9577 13.1776 15.9935 13.2375C16.0381 13.3118 16.0381 13.6688 15.8896 14.0853C15.7409 14.5018 15.0287 14.8819 14.6861 14.9331C14.3789 14.979 13.9902 14.9981 13.5631 14.8624C13.3041 14.7803 12.9721 14.6706 12.5467 14.4868C10.8752 13.7651 9.74565 12.1451 9.53215 11.8389C9.5172 11.8175 9.50674 11.8025 9.5009 11.7947L9.49946 11.7928C9.40511 11.6669 8.77288 10.8233 8.77288 9.95029C8.77288 9.12902 9.1763 8.69855 9.362 8.50041C9.37472 8.48683 9.38642 8.47435 9.3969 8.4629C9.56032 8.2844 9.75349 8.23978 9.87235 8.23978C9.99119 8.23978 10.1102 8.24088 10.2141 8.2461C10.2269 8.24674 10.2402 8.24666 10.254 8.24658C10.3579 8.24597 10.4874 8.24521 10.6152 8.55215C10.6644 8.67028 10.7363 8.8454 10.8122 9.0301C10.9656 9.40361 11.1351 9.81629 11.1649 9.87601C11.2095 9.96526 11.2392 10.0693 11.1798 10.1884C11.1709 10.2062 11.1626 10.2231 11.1547 10.2392C11.1101 10.3303 11.0773 10.3973 11.0015 10.4858C10.9717 10.5206 10.9409 10.5581 10.9101 10.5956C10.8488 10.6703 10.7875 10.745 10.7341 10.7982C10.6448 10.8871 10.5519 10.9835 10.6559 11.162C10.7599 11.3405 11.1177 11.9244 11.6477 12.3971C12.2175 12.9054 12.7127 13.1201 12.9637 13.229C13.0127 13.2503 13.0524 13.2675 13.0816 13.2821C13.2598 13.3714 13.3638 13.3564 13.4678 13.2375C13.5718 13.1185 13.9135 12.7168 14.0323 12.5384C14.1512 12.3599 14.2701 12.3897 14.4335 12.4491C14.597 12.5087 15.4735 12.94 15.6518 13.0292C15.6866 13.0466 15.7192 13.0624 15.7493 13.0769Z" fill="white"/>
                  </svg>
            <ul class="main-nav__list" data-header-accordion>
              <li class="main-nav__item menu-item-has-children">
                <a class="main-nav__link main-nav__link-jump" href="#">Услуги и цены
                  <svg width="9" height="5" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.44845 0.453369L5.29512 0.453369L1.55512 0.453369C0.915119 0.453369 0.595119 1.2267 1.04845 1.68004L4.50179 5.13337C5.05512 5.6867 5.95512 5.6867 6.50845 5.13337L7.82178 3.82004L9.96179 1.68004C10.4085 1.2267 10.0885 0.453369 9.44845 0.453369Z" fill="#0C0C0C"/>
                  </svg>
                </a>
                  <ul class="main-nav__sublist">
                    <div class="main-nav__box">
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Общие собрания</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Сопровождение деятельности ТСЖ/ЖСК</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Создание ТСЖ</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Уставы ТСЖ/ЖСК</a>
                      </li>
                    </div>
                    <div class="main-nav__box">
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Прейскурант</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Судебные споры</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Взыскание задолженности (к наследственному имуществу) </a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Уставы ТСЖ/ЖСК</a>
                      </li>
                    </div>
                  </ul>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="#">Новости ЖКХ</a>
              </li>   
              <li class="main-nav__item menu-item-has-children">
                <a class="main-nav__link" href="#">Статьи</a>
              </li>
              <li class="main-nav__item menu-item-has-children">
                <a class="main-nav__link main-nav__link-jump" href="#">О нас
                  <svg width="9" height="5" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.44845 0.453369L5.29512 0.453369L1.55512 0.453369C0.915119 0.453369 0.595119 1.2267 1.04845 1.68004L4.50179 5.13337C5.05512 5.6867 5.95512 5.6867 6.50845 5.13337L7.82178 3.82004L9.96179 1.68004C10.4085 1.2267 10.0885 0.453369 9.44845 0.453369Z" fill="#0C0C0C"/>
                  </svg>
                </a>
                  <ul class="main-nav__sublist two">
                    <div class="main-nav__box">
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Клиенты</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Отзывы</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Специалисты</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Достижения</a>
                      </li>
                    </div>
                    <div class="main-nav__box">
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Наши партнеры</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Наши Юристы в СМИ</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Отчет о текущей деятельности</a>
                      </li>
                      <li class="main-nav__subitem">
                        <a class="main-nav__sublink" href="#">Уставы ТСЖ/ЖСК</a>
                      </li>
                    </div>
                  </ul>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="#">Образцы документов</a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="#">Контакты</a>
              </li>
            </ul>


            .main-nav__contacts
              a.main-nav__phone(href="tel:+79214473650") +79214473650
              a.main-nav__email(href="mailto:mail@helpgkh.ru") mail@helpgkh.ru

